﻿@model LixilRebate.ViewModels.UserViewModel

    <div class="row">
        <div class="col-md-12 ">
            <h3 class="form_headline">Customer Details</h3>
            <!--card-->
            <div class="card">
                @using (Html.BeginForm("AddBuilderToRep", "Admin", FormMethod.Post))
                {
                    <!-- /.card-header -->
                    <div class="card-body">
                        @{
                           
                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>

                                <div class="row">
                                    <div class="col-md-3 mb-6"></div>
                                    <div class="col-md-6 mb-6">
                                        <table class="table table-striped table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 55%">Customer Name</td>
                                                    <td>@Html.HiddenFor(model => model.Id)@Model.FirstName @Model.LastName
                                                        @Html.HiddenFor(model => model.FirstName)
                                                        @Html.HiddenFor(model => model.LastName)</td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td>@Model.Email</td>                                                    
                                                </tr>
                                                <tr>
                                                    <td>Phone Number</td>
                                                    <td>@Model.PhoneNumber</td>
                                                </tr>
                                                <tr>
                                                    <td>State</td>
                                                    <td>@Model.StateName</td>
                                                </tr>
                                                <tr>
                                                    <td>City</td>
                                                    <td>@Model.City</td>
                                                </tr>
                                                <tr>
                                                    <td>Zip</td>
                                                    <td>@Model.Zip</td>
                                                </tr>

                                                <tr>
                                                    <td style="width: 55%">Assign To Rep</td>
                                                    <td>@Html.DropDownListFor(x => x.RoleName,(IEnumerable<SelectListItem>)ViewBag.Roles,"-- Select Rep --", new { @class = "select2", @style = "width: 100%;" })</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-3 mb-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-6"></div>
                                    <div class="col-md-2 text-left">
                                        <a href="@Url.Action("GetBuildersNotAssignedToRep", "Admin")" class="btn btn-secondary ml-3">Cancel</a>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <div class="form-group">
                                            <input type="submit" value="update" class="btn btn-info float-right" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-6"></div>
                                </div>

                        }
                    </div>
                }
            </div>
            <!-- /.card -->
        </div>
    </div>

