﻿@model IEnumerable<LixilRebate.ViewModels.UserViewModel>

    <body class="layout-fixed sidebar-collapse">
        <div class="wrapper ">

            <!-- Navbar -->
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <!-- Main content -->
                <section class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 ">
                                <h3 class="form_headline mt-2 mb-3">Builders Not Assigned To Rep</h3>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                           
                                            <div class="col-md-12 mb-2">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th>Email</th>
                                                        <th>Builder Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    @foreach (var builder in Model)
                                                    {
                                                        <tr>                                                            
                                                            <td>@builder.Email</td>
                                                            <td>@builder.FirstName  @builder.LastName</td>
                                                            <td>@builder.PhoneNumber</td>
                                                            <td>@Html.ActionLink("Assign To Rep","AddBuilderToRep","Admin",new { email = @builder.Email},null)</td>
                                                        </tr>
                                                    }

                                                </table>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>

                        <!-- /.row -->


                    </div><!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->



        </div>
        <!-- ./wrapper -->

    </body>