﻿@model LixilRebate.ViewModels.RebateInformationViewModel

<body class="layout-fixed sidebar-collapse">
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content">
                <div class="container">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-12 ">
                            <h3 class="form_headline mt-2 mb-3">Customer Rebates Dashboard</h3>
                            <!--card-->

                            <div class="row">
                                <div class="col-md-12 mb-3 text-right">
                                    <div class="form-group">


                                        <div class="RebateSearch" style="display:inline-block;">
                                            <label class="form-label">Search: </label>
                                        </div>

                                        <div class="RebateSearch" style="display:inline-block;">
                                            @*<input name="srcSearch" id="srcSearch" class="form-control" value="" type="text" autocomplete="off" />*@
                                            @Html.TextBox("search", "", new { id = "search", style = "height:38px;" })
                                        </div>
                                        @*<div class="RebateSearch" style="display:inline-block;">
                                                <button id="btnSearch" class="btn btn-info"><i class="fa fa-search"></i></button>
                                            </div>


                                            <div class="RebateSearch" style="display:inline-block;">
                                                <a id="btnRefresh" href="#" class="btn btn-info"><i class="fa fa-recycle" aria-hidden="true"></i></a>
                                            </div>*@
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <table class="table table-bordered" id="rebates">
                                                <thead>
                                                    <tr>
                                                        @*<th class="all"></th>*@
                                                        <th>Order Number</th>
                                                        <th>Invoice Type</th>
                                                        <th>Invoice Number</th>
                                                        <th>Customer Name</th>
                                                        <th>Email ID</th>
                                                        <th>PhoneNumber</th>
                                                        <th>Submitted On</th>
                                                        <th>Status</th>
                                                        <th>Approved/Rejected On</th>
                                                        <th>Amount</th>
                                                        @*<th>Reason(if Rejected)</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody id="rebates_body">

                                                    @if (Model.RebateRewards.Count > 0)
                                                    {
                                                        foreach (var reward in Model.RebateRewards)
                                                        {
                                                            <tr>
                                                                <td><a href="@Url.Action("InvoiceDetailsRewards", "Admin", new { orderNumber = reward.OrderNumber })">@reward.OrderNumber</a></td>
                                                                <td>@reward.Type</td>
                                                                <td>@reward.DistributorInvoiceNumber</td>
                                                                <td>@reward.BuilderName</td>
                                                                <td>@reward.BuilderEmail</td>
                                                                <td>@reward.BuilderPhNo</td>
                                                                <td>@reward.CreatedDate.Value.ToString("MM/dd/yyyy")</td>
                                                                <td>@reward.Status</td>
                                                                @if (@reward.ApprovedOrDeniedDate != null)
                                                                {
                                                                    <td>@reward.ApprovedOrDeniedDate.Value.ToString("MM/dd/yyyy")</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>-</td>
                                                                }

                                                                <td>@reward.DollarApproved</td>
                                                                @*<td>@reward.ReasonIfDenied</td>*@
                                                            </tr>

                                                        }
                                                    }

                                                    @if (Model.RebateSelects.Count > 0)
                                                    {
                                                        foreach (var select in Model.RebateSelects)
                                                        {
                                                            <tr>
                                                                <td><a href="@Url.Action("InvoiceDetailsSelect", "Admin", new { orderNumber = select.OrderNumber })">@select.OrderNumber</a></td>
                                                                <td>@select.Type</td>
                                                                <td>-</td>
                                                                <td>@select.BuilderName</td>
                                                                <td>@select.BuilderEmail</td>
                                                                <td>@select.BuilderPhNo</td>
                                                                <td>@select.CreatedDate.Value.ToString("MM/dd/yyyy")</td>
                                                                <td>@select.Status</td>
                                                                @if (select.ApprovedorDeniedDate != null)
                                                                {
                                                                    <td>@select.ApprovedorDeniedDate.Value.ToString("MM/dd/yyyy")</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>-</td>
                                                                }
                                                                <td>@select.ApprovedAmount</td>
                                                                @*<td>@select.ReasonIfDenied</td>*@
                                                            </tr>
                                                        }
                                                    }



                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>

                            <!-- /.card -->

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>

<script>
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#rebates_body tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>