﻿@model LixilRebate.ViewModels.InvoiceDetailsViewModel

@if (ViewBag.Message != null)
{
    if (ViewBag.Message == "Yes")
    {
        <div class="container text-center yes" style="padding-top:20px;">
            <h3 class="text-blue">Details Updated Successfully.</h3>
        </div>
    }
}

<div class="row">
    <div class="col-md-12 ">
        <h3 class="form_headline">Rebate Claim Details</h3>
        <!--card-->
        <div class="card">
            @using (Html.BeginForm())
            {

                <!-- /.card-header -->
                <div class="card-body">
                    @{
                        //if (Model != null)
                        //{
                        <div class="row">
                            <div class="col-md-4 mb-3">
                            </div>
                            <div class="col-md-4 mb-3">
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <input id="submitRebateDetails" type="submit" value="update" class="btn btn-info float-right" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-6">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <td colspan="2"><b>Invoice Info</b></td>
                                        </tr>
                                        <tr>
                                            <td>Order Number</td>
                                            <td>@Html.DisplayFor(model => model.RebateSelectViewModel.OrderNumber)</td>
                                            @Html.HiddenFor(model => model.RebateSelectViewModel.OrderNumber)
                                        </tr>

                                        <tr>
                                            <td>Rebate Submitted</td>
                                            <td>@Model.RebateSelectViewModel.CreatedDate.Value.ToString("MM/dd/yyyy")</td>
                                        </tr>
                                        <tr>
                                            <td>Rebate Approved/Denied</td>
                                            @if (Model.RebateSelectViewModel.StatusId == null || Model.RebateSelectViewModel.Status == "Approved")
                                            {
                                                <td>
                                                    @Html.DropDownListFor(model => model.RebateSelectViewModel.Status, new[] { new SelectListItem { Text = "Approved", Value = "3" }, new SelectListItem { Text = "Denied", Value = "4" } }, new { @class = "form-control" })
                                                    @Html.TextBoxFor(model => model.RebateSelectViewModel.ReasonIfDenied, new { @id = "txt_reason", @class = "form-control", @placeholder = "Reason if denied" })
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DropDownListFor(model => model.RebateSelectViewModel.Status, new[] { new SelectListItem { Text = "Approved", Value = "3" }, new SelectListItem { Text = "Denied", Value = "4", Selected = true } }, new { @class = "form-control" })
                                                    @Html.TextBoxFor(model => model.RebateSelectViewModel.ReasonIfDenied, new { @id = "txt_reason", @class = "form-control", @placeholder = "Reason if denied" })
                                                    @Html.HiddenFor(model => model.RebateSelectViewModel.ReasonIfDenied)
                                                </td>
                                            }

                                        </tr>

                                        <tr>
                                            <td>Rebate Check approved/denied on</td>

                                            <td>
                                                <div class="form-group">
                                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">

                                                        @Html.DisplayFor(model => model.RebateSelectViewModel.StatusDate, new { htmlAttributes = new { @class = "form-control" } })
                                                      
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        @if (Model.RebateSelectViewModel.Status == "Denied")
                                        {
                                            <tr id="tr_reason">
                                                <td>Reason If Denied</td>
                                                @if(Model.RebateSelectViewModel.ReasonIfDenied != null)
                                                {
                                                     <td>@Html.DisplayFor(model => model.RebateSelectViewModel.ReasonIfDenied)</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                            </tr>
                                        }

                                        <tr>
                                            <td>Email ID</td>
                                            <td>@Html.DisplayFor(model => model.UserViewModel.Email)</td>
                                        </tr>
                                        <tr>
                                            <td>Phone Number</td>
                                            <td>@Html.DisplayFor(model => model.UserViewModel.PhoneNumber)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6 mb-6">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <td colspan="2"><b>Ship to Address:</b></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 40%;">Name</td>
                                            <td>@Html.DisplayFor(model => model.RebateRedemptionViewModel.Name)</td>
                                        </tr>
                                        <tr>
                                            <td>Full Address</td>
                                            <td>
                                                @Html.DisplayFor(model => model.RebateRedemptionViewModel.Address1) @Html.DisplayFor(model => model.RebateRedemptionViewModel.Address2)<br />
                                                @Html.DisplayFor(model => model.RebateRedemptionViewModel.City), @Html.DisplayFor(model => model.RebateRedemptionViewModel.StateName) -
                                                @Html.DisplayFor(model => model.RebateRedemptionViewModel.Zip)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Amount</td>

                                            <td>@Html.TextBoxFor(model => model.RebateSelectViewModel.ApprovedAmount, new { @class = "form-control", type = "Number", min = "1" })</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom: 1rem;">
                                <label> Comments:</label>

                                @Html.TextAreaFor(model => model.RebateSelectViewModel.Comments, new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="row">
                            <table id="producttable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <td colspan="4" style="background-color: rgba(0, 0, 0, 0.05);"><b>Rebate Information:</b></td>
                                    </tr>
                                    <tr>

                                        <th>
                                            Sub Divison Name
                                        </th>
                                        <th>
                                            Lot#
                                        </th>
                                        <th>
                                            Per Home Rebate
                                        </th>
                                        <th>
                                            Closing Statement Date
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>@Model.RebateSelectViewModel.SubDivisionName</td>
                                        <td>@Model.RebateSelectViewModel.Lot_</td>
                                        <td>@Model.RebateSelectViewModel.PerHomeRebate</td>
                                        <td>@Model.RebateSelectViewModel.ClosingStatementDate</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <td colspan="2" style="background-color: rgba(0, 0, 0, 0.05);"><b>Invoices Uploaded:</b></td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Invoice Type
                                        </th>
                                        <th>
                                            Invoice
                                        </th>
                                    </tr>
                                    @foreach (var invoicePath in Model.InvoicePathViewModels)
                                    {
                                        <tr>
                                            <td>@invoicePath.InvoiceType</td>
                                            <td><a href="~/Invoice Files/@invoicePath.InvoicePath" download>@invoicePath.InvoicePath</a></td>
                                        </tr>
                                    }
                                </thead>
                                <tbody>
                                    @*@foreach (var item in Model.CustomerRebateInvoices)
                                        {
                                            <tr>
                                                <td>@item.InvoiceType</td>
                                                <td>
                                                    <a href="~/CustomerFiles/Invoices/@item.InvoicePath" download>
                                                        @item.InvoicePath
                                                    </a>
                                                </td>*@

                                    @*<td> @item.InvoicePath</td>*@


                                    @*</tr>

                                        }*@

                                </tbody>
                            </table>
                        </div>
                        @*<div class="row" style="background-color: rgba(0, 0, 0, 0.05);padding: 0.75rem;border: 1px solid #dee2e6;"><b>Installation Pictures:</b></div>*@
                        @*if (Model.customerInstallationPictures.Count > 0)
                            {
                                <div class="row" style="margin-top: 20px; ">
                                    <table>
                                        @foreach (var item in Model.customerInstallationPictures)
                                        {

                                            <tr>
                                                <td>
                                                    <div class="col-md-4 mb-4">
                                                        <a href="~/CustomerFiles/Pictures/@item.PicturePath" download>
                                                            <img src="~/CustomerFiles/Pictures/@item.PicturePath" style="width: 100px;" />
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 mb-4">
                                    No pictures uploaded
                                </div>
                            }*@
                        //}
                    }
                </div>
            }
        </div>
        <!-- /.card -->
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('#reservationdate').datetimepicker({
            format: 'L',
            maxDate: 'now',
            endDate: 'today',
            ignoreReadonly: true,
            autoclose: true
        });

        $('#txt_reason').hide();
        $('#RebateSelectViewModel_Status').on('change', function () {


            if ($('#RebateSelectViewModel_Status option:selected').text() == "Denied") {
                $('#txt_reason').show();
            }
            else {
                $('#txt_reason').hide();
            }

        });

        // $('#tr_reason').hide();
        //if ($('#RebateSelectViewModel_Status option:selected').text() == "Denied") {
        //    $('#tr_reason').show();
        //}
    });

</script>

