﻿@model LixilRebate.ViewModels.InvoiceDetailsViewModel
@if (ViewBag.Message != null)
{
    if (ViewBag.Message == "Yes")
    {
        <div class="container text-center yes" style="padding-top:20px;">
            <h3 class="text-blue">Details Updated Successfully.</h3>
        </div>
    }
}

<div class="row">
    <div class="col-md-12 ">
        <h3 class="form_headline">Rebate Claim Details</h3>
        <!--card-->
        <div class="card">
            @using (Html.BeginForm())
            {
                
                <!-- /.card-header -->
                <div class="card-body">
                    @{
//if (Model != null)
//{
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                </div>
                                <div class="col-md-4 mb-3">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="form-group">
                                        <input id="submitRebateDetails" type="submit" value="update" class="btn btn-info float-right" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-6">
                                    <table class="table table-striped table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="2"><b>Invoice Info:</b></td>
                                            </tr>
                                            <tr>
                                                <td>Order Number</td>
                                                <td>@Html.DisplayFor(model => model.RebateRewardsViewModel.OrderNumber)</td>
                                                @Html.HiddenFor(model => model.RebateRewardsViewModel.OrderNumber)
                                            </tr>
                                            <tr>
                                                <td>Invoice Number</td>
                                                <td>@Html.DisplayFor(model => model.RebateRewardsViewModel.DistributorInvoiceNumber)</td>
                                            </tr>
                                            <tr>
                                                <td>Invoices Submitted</td>
                                                <td>@Model.RebateRewardsViewModel.CreatedDate.Value.ToString("MM/dd/yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>Invoices Approved/Denied</td>

                                                @if (Model.RebateRewardsViewModel.StatusId == null || Model.RebateRewardsViewModel.Status == "Approved")
                                                {
                                                    <td>
                                                        @Html.DropDownListFor(model => model.RebateRewardsViewModel.Status, new[] { new SelectListItem { Text = "Approved", Value = "3" }, new SelectListItem { Text = "Denied", Value = "4" } }, new { @class = "form-control" })
                                                        @Html.TextBoxFor(model => model.RebateRewardsViewModel.ReasonIfDenied, new { @id = "txt_reason", @class = "form-control", @placeholder = "Reason if denied" })
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @Html.DropDownListFor(model => model.RebateRewardsViewModel.Status, new[] { new SelectListItem { Text = "Approved", Value = "3" }, new SelectListItem { Text = "Denied", Value = "4", Selected=true } }, new { @class = "form-control" })
                                                        @Html.TextBoxFor(model => model.RebateRewardsViewModel.ReasonIfDenied, new { @id = "txt_reason", @class = "form-control", @placeholder = "Reason if denied" })
                                                        @Html.HiddenFor(model => model.RebateRewardsViewModel.ReasonIfDenied)
                                                    </td>
                                                }
                                            </tr>

                                            <tr>
                                                <td>Rebate Check approved/denied on</td>

                                                <td>
                                                    <div class="form-group">
                                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">

                                                            @Html.DisplayFor(model => model.RebateRewardsViewModel.StatusDate, new { htmlAttributes = new { @class = "form-control pickDate" } })
                                                          
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            @if (Model.RebateRewardsViewModel.Status == "Denied")
                                            {
                                                <tr id="tr_reason">
                                                    <td>Reason If Denied</td>
                                                    @if(Model.RebateRewardsViewModel.ReasonIfDenied != null)
                                                    {
                                                        <td>@Html.DisplayFor(model => model.RebateRewardsViewModel.ReasonIfDenied)</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }

                                                </tr>
                                            }
                                            <tr>
                                                <td>Email ID</td>
                                                <td>@Html.DisplayFor(model => model.UserViewModel.Email)</td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number</td>
                                                <td>@Html.DisplayFor(model => model.UserViewModel.PhoneNumber)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 mb-6">
                                    <table class="table table-striped table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="2"><b>Ship to Address:</b></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 40%;">Name</td>
                                                <td>@Html.DisplayFor(model => model.RebateRedemptionViewModel.Name)</td>
                                            </tr>
                                            <tr>
                                                <td>Full Address</td>
                                                <td>
                                                   @Html.DisplayFor(model => model.RebateRedemptionViewModel.Address1) @Html.DisplayFor(model => model.RebateRedemptionViewModel.Address2)<br />
                                                    @Html.DisplayFor(model => model.RebateRedemptionViewModel.City), @Html.DisplayFor(model => model.RebateRedemptionViewModel.StateName) - 
                                                    @Html.DisplayFor(model => model.RebateRedemptionViewModel.Zip)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Amount</td>
                                                @if (Model.RebateRewardsViewModel.DollarApproved != null)
                                                {
                                                    <td>@Html.TextBoxFor(model => model.RebateRewardsViewModel.DollarApproved , new { @class = "form-control",type = "number",min="1"})</td>
                                                }
                                                else
                                                {
                                                    <td>@Html.TextBoxFor(model => model.RebateRewardsViewModel.DollarApproved, new { @class = "form-control", type = "Number",min = "1"})</td>
                                                }

                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Estimated Amount</label>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.RebateRewardsViewModel.DollarEstimated)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 1rem;">
                                    <label> Comments:</label>
                                    @Html.TextAreaFor(model => model.RebateRewardsViewModel.Comments,new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <table id="producttable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <td colspan="4" style="background-color: rgba(0, 0, 0, 0.05);"><b>Products Purchased:</b></td>
                                        </tr>
                                        <tr>
                                            @*<th style="display:none;">
                                                ID
                                            </th>*@
                                            <th>
                                                Manufacturer Name
                                            </th>
                                            <th>
                                                Product Number
                                            </th>
                                            <th>
                                                Quantity
                                            </th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach(var product in Model.InvoiceProductViewModels)
                                        {
                                            <tr>
                                                <td>@product.Manufacturer</td>
                                                <td>@product.ProductNumber</td>
                                                <td>@product.Quantity</td>
                                            </tr>
                                        }

                                        @*@for (int i = 0; i < Model.rebateProductsViewModels.Count; i++)
                                        {

                                            <tr id="@Model.rebateProductsViewModels[i].Id">
                                                <td style="display:none;">1</td>
                                                <td>
                                                    @Model.rebateProductsViewModels[i].CategoryName
                                                </td>
                                                <td>
                                                    @Model.rebateProductsViewModels[i].ProductName
                                                </td>*@
                                                @*<td style="width:50px;">@pd.Quantity</td>*@
                                                @*<td style="width:50px;">1, new { @class = "form-control", type = "number", min = "0" })</td>

                                                <td>1</td>
                                            </tr>
                                        }*@

                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <td colspan="2" style="background-color: rgba(0, 0, 0, 0.05);"><b>Invoices Uploaded:</b></td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Invoice Type
                                            </th>
                                            <th>
                                                Invoice
                                            </th>
                                        </tr>
                                        @foreach(var invoicePath in Model.InvoicePathViewModels)
                                        {
                                            <tr>
                                                <td>@invoicePath.InvoiceType</td>
                                                <td><a href="~/Invoice Files/@invoicePath.InvoicePath" download>@invoicePath.InvoicePath</a></td>
                                            </tr>
                                        }
                                    </thead>
                                    <tbody>
                                        @*@foreach (var item in Model.CustomerRebateInvoices)
                                        {
                                            <tr>
                                                <td>@item.InvoiceType</td>
                                                <td>
                                                    <a href="~/CustomerFiles/Invoices/@item.InvoicePath" download>
                                                        @item.InvoicePath
                                                    </a>
                                                </td>*@

                                                @*<td> @item.InvoicePath</td>*@


                                            @*</tr>

                                        }*@

                                    </tbody>
                                </table>
                            </div>
                            @*<div class="row" style="background-color: rgba(0, 0, 0, 0.05);padding: 0.75rem;border: 1px solid #dee2e6;"><b>Installation Pictures:</b></div>*@
                            @*if (Model.customerInstallationPictures.Count > 0)
                            {
                                <div class="row" style="margin-top: 20px; ">
                                    <table>
                                        @foreach (var item in Model.customerInstallationPictures)
                                        {

                                            <tr>
                                                <td>
                                                    <div class="col-md-4 mb-4">
                                                        <a href="~/CustomerFiles/Pictures/@item.PicturePath" download>
                                                            <img src="~/CustomerFiles/Pictures/@item.PicturePath" style="width: 100px;" />
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 mb-4">
                                    No pictures uploaded
                                </div>
                            }*@
                            //}
                    }
                </div>
            }
        </div>
        <!-- /.card -->
    </div>
</div>
<script type="text/javascript">

	$(document).ready(function() {
		
                $('#reservationdate').datetimepicker({
                    format: 'L',
                    maxDate:'now',
                    endDate:'today',
                    ignoreReadonly: true,
                    autoclose:true
                });

        $('#txt_reason').hide();
        $('#RebateRewardsViewModel_Status').on('change', function () {


            if ($('#RebateRewardsViewModel_Status option:selected').text() == "Denied") {
                $('#txt_reason').show();
            }
            else {
                $('#txt_reason').hide();
            }

        });

        
    });

</script>


