﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LIXIL Builder Rebate </title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/plugins/select2/js/select2.full.min.js")
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/js/demo.js"></script>
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/Scripts/jquery.phone.mask.js"></script>
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js"></script>
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/fonts.googleapis.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Plugins/fontawesome-free/css/all.min.css">
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>

<body class="layout-fixed sidebar-collapse">
    <div class="wrapper ">
        @{
            var loggedId = Request.Cookies["FullName"] != null ? Request.Cookies["FullName"].Value : "";
            var RoleId = Request.Cookies["Role"] != null ? Request.Cookies["Role"].Value : "";
        }
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav ">
                <li class="nav-item">
                    @{ if (RoleId == "2" || RoleId == "3" || RoleId == "4" || RoleId == "6")
                        {
                            <a href="@Url.Action("Index","Users")">
                                @*<img src="images/lixil_logo.jpg" />*@
                                <img src="~/Images/lixil_logo.jpg" />
                            </a>
                        }
                        else if (RoleId == "5")
                        {
                            <a href="@Url.Action("Index","Builder")">
                                @*<img src="images/lixil_logo.jpg" />*@
                                <img src="~/Images/lixil_logo.jpg" />
                            </a>
                        }
                        else if (RoleId == null || RoleId == "")
                        {
                            <a href="@Url.Action("Index","Home")">
                                @*<img src="images/lixil_logo.jpg" />*@
                                <img src="~/Images/lixil_logo.jpg" />
                            </a>
                        }
                        else if (RoleId == "1")
                        {
                            <a href="@Url.Action("Index","Admin")">
                                @*<img src="images/lixil_logo.jpg" />*@
                                <img src="~/Images/lixil_logo.jpg" />
                            </a>
                        }
                    }

                </li>

            </ul>
            <ul class="navbar-nav ml-auto">

                @if (loggedId != null && loggedId != "")
                {
                    if (RoleId == "2" || RoleId == "3" || RoleId == "4" || RoleId == "6")
                    {
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="@Url.Action("Index","Users")" class="nav-link">Home</a>
                        </li>
                    }
                    else if (RoleId == "5")
                    {
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="@Url.Action("Index","Builder")" class="nav-link">Home</a>
                        </li>
                    }
                    else if (RoleId == null || RoleId == "")
                    {
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="@Url.Action("Index","Home")" class="nav-link">Home</a>
                        </li>
                    }
                    else if (RoleId == "1")
                    {
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="@Url.Action("Index","Admin")" class="nav-link">Home</a>
                        </li>

                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="@Url.Action("GetBuildersNotAssignedToRep","Admin")" class="nav-link">Add Rep To Builders</a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="@Url.Action("Index","Admin")" class="nav-link">Dashboard</a>
                        </li>
                    }
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="@Url.Action("ContactUs","Home")" class="nav-link">Contact us </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                            My Info
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                            <a href="@Url.Action("MyProfile","Home")" class="dropdown-item">
                                Profile
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("ChangePassword","Home")" class="dropdown-item">
                                Change Password
                            </a>
                        </div>
                    </li>

                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="@Url.Action("Logout","Home")" class="nav-link">Logout </a>
                    </li>

                }

                else
                {
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="@Url.Action("ContactUs","Home")" class="nav-link">Contact us </a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="@Url.Action("Index","Home")" class="nav-link">Login </a>
                    </li>
                }
            </ul>



        </nav>
        <div class="">
            @RenderBody()
            <footer class="main-footer">
                Copyright © LIXIL Corporation. All rights reserved.

                <div class="float-right d-none d-sm-inline-block">
                    <a href="#">Terms</a> | <a href="#">Privacy </a>
                </div>

            </footer>
        </div>



    </div>
    <!-- ./wrapper -->



</body>

</html>
