﻿@model LixilRebate.ViewModels.ChangePasswordViewModel
@{ 
     var roleid = Request.Cookies["Role"] != null ? Request.Cookies["Role"].Value : "";
}

<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card-head login-card-body text-center">
            <div class="">
                <a href="#" class="h3">Change Password</a>
            </div>
            <div class="card-body login-card-body">

                @*<form action="#" method="post">*@
                @using (Html.BeginForm())
                {

                    <div class="mb-3">
                        <div class="input-group">
                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = "Current Password", autocomplete = "off" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>


                        </div>
                        <!-- <div class="error_msg">Password Required</div> -->
                        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password", autocomplete = "off" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>


                        </div>
                        <!-- <div class="error_msg">Password Required</div> -->
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password", autocomplete = "off" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>


                        </div>
                        <!-- <div class="error_msg">Password Required</div> -->
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        @*<div class="col-8">
            <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                    Remember Me
                </label>
            </div>
        </div>*@
                        <!-- /.col -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Submit</button>

                           

                            @if (roleid == "1")
                            {
                                @Html.ActionLink("Cancel", "Index", "Admin", new { @class = "btn btn-secondary ml-3" })
                            }

                            else if (roleid == "5")
                            {
                                @Html.ActionLink("Cancel", "Index", "Builder", new { @class = "btn btn-secondary ml-3" })
                            }
                            else
                            {
                                @Html.ActionLink("Cancel", "Index", "Users", new { @class = "btn btn-secondary ml-3" })
                            }

                        </div>
                        <!-- /.col -->
                    </div>
                    @*</form>*@
                }
                <!-- /.social-auth-links -->
                @*<p class="mb-1">

                        @Html.ActionLink("Login", "Index", "Home", new { @class = "btn btn-info" })

                    </p>*@
                @*<p class="mb-0">
                        <a href="@Url.Action("Register", "Home")" class="text-center">Home</a>
                    </p>*@
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->

</body>



