﻿@model LixilRebate.ViewModels.ContactUsViewModel

<body class="layout-fixed sidebar-collapse layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper ">

        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <div class="container">
                        <div class="login-box" style="margin:auto;">

                            <div class="">


                                <div class="card-head login-card-body text-center">
                                    <h3>Contact Us</h3>
                                </div>

                                <div class="card-body login-card-body">


                                    @using (Html.BeginForm())
                                    {
                                        <div class="mb-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <div class="input-group-text">

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="error_msg">Username Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="mb-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <div class="input-group-text">

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="error_msg">Username Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="mb-3">
                                            <div class="input-group">
                                                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Message", autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <div class="input-group-text">

                                                    </div>
                                                </div>


                                            </div>
                                            <!-- <div class="error_msg">Password Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="row">

                                            <!-- /.col -->
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-secondary ml-3" })
                                            </div>


                                            <!-- /.col -->
                                        </div>

                                    }

                                    <!-- /.social-auth-links -->
                                    <!-- <p class="mb-0">
      <a href="#" class="text-center">Register a new membership</a>
    </p> -->
                                </div>
                                <!-- /.login-card-body -->
                            </div>
                        </div>
                        <!-- /.login-box -->



                    </div>



                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->



    </div>
    <!-- ./wrapper -->



</body>

<script>
    $(document).ready(function () {
        $(".new").delay(3200).fadeOut(300);
    });
</script>