﻿@model LixilRebate.ViewModels.LoginViewModel
@if (ViewBag.Message != null)
{
    if (ViewBag.Message == "New")
    {
        <div class="container text-center new" style="padding-top:20px;">
            <h3 class="text-blue">Thank you for registering.Your Registration was successful.</h3>
        </div>
    }
    if (ViewBag.Message == "ForgotPass")
    {
        <div class="container text-center new" style="padding-top:20px;">
            <h3 class="text-blue">Reset password link has been sent to your registered email.</h3>
        </div>
    }
    if (ViewBag.Message == "ResetPassword")
    {
        <div class="container text-center new" style="padding-top:20px;">
            <h3 class="text-blue">Password is updated, please login to continue..</h3>
        </div>
    }
    if (ViewBag.Message == "ChangePass")
    {
        <div class="container text-center new" style="padding-top:20px;">
            <h3 class="text-blue">Password is updated, please login to continue..</h3>
        </div>
    }
}
<body class="layout-fixed sidebar-collapse layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper ">

        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <div class="container">
                        <div class="login-box" style="margin:auto;">

                            <div class="">


                                <div class="card-head login-card-body text-center">
                                    <h3>Login</h3>
                                </div>

                                <div class="card-body login-card-body">


                                    @using (Html.BeginForm())
                                    {
                                        <div class="mb-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-user"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="error_msg">Username Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="mb-3">
                                            <div class="input-group">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-lock"></span>
                                                    </div>
                                                </div>


                                            </div>
                                            <!-- <div class="error_msg">Password Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="row">

                                            <!-- /.col -->
                                            <div class="col-4">
                                                <button type="submit" class="btn btn-info btn-block">Login</button>
                                            </div>

                                            <div class="col-8">
                                                <p class="mb-1 text-right">
                                                    <a href="@Url.Action("ForgotPassword", "Home")">I forgot my password</a>
                                                </p>
                                            </div>
                                            <!-- /.col -->
                                        </div>

                                        <div class="social-auth-links text-center">
                                            <p>- OR -<br>Register to start the rebate process</p>
                                            <a href="@Url.Action("Register", "Home" )" class="btn btn-success" style="background-color: #707070; border: #707070 solid 1px;">Register here</a>
                                        </div>


                                    }

                                    <!-- /.social-auth-links -->
                                    <!-- <p class="mb-0">
                                      <a href="#" class="text-center">Register a new membership</a>
                                    </p> -->
                                </div>
                                <!-- /.login-card-body -->
                            </div>
                        </div>
                        <!-- /.login-box -->



                    </div>



                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->



    </div>
    <!-- ./wrapper -->



</body>

<script>
    $(document).ready(function () {
        $(".new").delay(3200).fadeOut(300);
    });
</script>