﻿@model LixilRebate.ViewModels.UserEditViewModel
<!-- /.navbar -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">

                    <div class="col-md-12 ">
                        <h3 class="form_headline mt-2 mb-3">My Profile</h3>

                        <!--card-->
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="card">





                                <!-- /.card-header -->
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <p><b>Company Details </b></p>
                                            <hr />
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3 mb-2">
                                            <div class="form-group">
                                                <label for="CompanyName"><sup>*</sup>Company Name</label>
                                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })

                                        </div>



                                        <div class="col-md-3 mb-2">
                                            <div class="form-group">
                                                <label for="CompanyAddress1"><sup>*</sup>Address</label>
                                                @Html.TextBoxFor(model => model.CompanyAddress1, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.CompanyAddress1, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-3 mb-2">
                                            <div class="form-group">
                                                <label for="CompanyAddress2"><sup>*</sup>Address2</label>
                                                @Html.TextBoxFor(model => model.CompanyAddress2, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.CompanyAddress2, "", new { @class = "text-danger" })

                                        </div>



                                        <div class="col-md-3 mb-3">

                                            <div class="form-group">
                                                <label for="inputSize"><sup>*</sup>State</label>
                                                @Html.DropDownListFor(model => model.State, (IEnumerable<SelectListItem>)ViewBag.States, "--Select State--", new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-3 mb-3">

                                            <div class="form-group">
                                                <label for="inputSize"><sup>*</sup>City</label>
                                                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })


                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })

                                        </div>


                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="inputName"><sup>*</sup>Zip</label>
                                                @Html.TextBoxFor(model => model.Zip, new { @class = "form-control", @readonly = true })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })

                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-12 mt-2">

                                            <p><b>Contact Information </b></p>
                                            <hr />
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="FirstName"><sup>*</sup>First Name</label>
                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                        </div>


                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="LastName"><sup>*</sup>Last Name</label>
                                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-3 mb-3">

                                            <div class="form-group">
                                                <label for="PhoneNumber"><sup>*</sup>Phone</label>
                                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

                                        </div>



                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="Email"><sup>*</sup>Email</label>
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = true } )

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                        </div>
                                      

                                    </div>

                                    

                                    

                                   





                                    






                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                    @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-secondary ml-3" })
                                </div>
                                <!-- /.card-footer -->
                            </div>
                        }  <!-- /.card -->
                    </div>

                </div>



            </div>



        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#Zip").keypress(function (e) {
            var x = e.which || e.keycode;
            if ((x >= 48 && x <= 57))
                return true;
            else
                return false;
        });

        $("#PhoneNumber").mask("(999) 999-9999");


        $("#PhoneNumber").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);
            if (last.length === 5) {
                var move = $(this).val().substr($(this).val().indexOf("-") + 1, 1);
                var lastfour = last.substr(1, 4);
                var first = $(this).val().substr(0, 9);
                $(this).val(first + move + '-' + lastfour);
            }
        });



    });
</script>

<script>
                $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        });
</script>