﻿@model LixilRebate.ViewModels.UserViewModel
<!-- /.navbar -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">

                    <div class="col-md-12 ">
                        <h3 class="form_headline mt-2 mb-3">Builder Registration</h3>

                        <!--card-->
                        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { id = "RegisterForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="card">





                                <!-- /.card-header -->
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <p><b>Company Details </b></p>
                                            <hr />
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3 mb-2">
                                            <div class="form-group">
                                                <label for="CompanyName"><sup>*</sup>Company Name</label>
                                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })

                                        </div>



                                        <div class="col-md-3 mb-2">
                                            <div class="form-group">
                                                <label for="CompanyAddress1"><sup>*</sup>Address</label>
                                                @Html.TextBoxFor(model => model.CompanyAddress1, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.CompanyAddress1, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-3 mb-2">
                                            <div class="form-group">
                                                <label for="CompanyAddress2">Address1</label>
                                                @Html.TextBoxFor(model => model.CompanyAddress2, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.CompanyAddress2, "", new { @class = "text-danger" })

                                        </div>



                                        <div class="col-md-3 mb-3">

                                            <div class="form-group">
                                                <label for="inputSize"><sup>*</sup>State</label>
                                                @Html.DropDownListFor(model => model.State, (IEnumerable<SelectListItem>)ViewBag.States, "--Select State--", new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-3 mb-3">

                                            <div class="form-group">
                                                <label for="inputSize"><sup>*</sup>City</label>
                                                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })


                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })

                                        </div>


                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="inputName"><sup>*</sup>Zip</label>
                                                @Html.TextBoxFor(model => model.Zip, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })

                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-12 mt-2">

                                            <p><b>Contact Information </b></p>
                                            <hr />
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="FirstName"><sup>*</sup>First Name</label>
                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                        </div>


                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="LastName"><sup>*</sup>Last Name</label>
                                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-3 mb-3">

                                            <div class="form-group">
                                                <label for="PhoneNumber"><sup>*</sup>Phone</label>
                                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

                                        </div>



                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="Email"><sup>*</sup>Email</label>
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-md-3 mb-3">

                                            <div class="form-group">
                                                <label for="inputName"><sup>*</sup>Password</label>
                                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-3 mb-3">

                                            <div class="form-group">
                                                <label for="ConfirmPassword"><sup>*</sup>Confirm Password</label>
                                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mt-2">


                                            <hr />
                                        </div>
                                    </div>

                                    <div class="row">



                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="AnnualNumberOfHomes"><sup>*</sup>Annual Number of Homes</label>
                                                @Html.TextBoxFor(model => model.AnnualNumberOfHomes, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.AnnualNumberOfHomes, "", new { @class = "text-danger" })

                                        </div>


                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="AveragePriceUnit"><sup>*</sup>Average Home Sales Price</label>
                                                @Html.TextBoxFor(model => model.AveragePriceUnit, new { @class = "form-control", placeholder = "$" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.AveragePriceUnit, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="WebsiteURL"><sup>*</sup>Website URL</label>
                                                @Html.TextBoxFor(model => model.WebsiteURL, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.WebsiteURL, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-3 mb-3">

                                            <div class="form-group">
                                                <label for="PercentageOfPlumbingUpgrades"><sup>*</sup>Percentage of Plumbing Upgrades:</label>
                                                @Html.TextBoxFor(model => model.PercentageOfPlumbingUpgrades, new { @class = "form-control", placeholder = "%" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.PercentageOfPlumbingUpgrades, "", new { @class = "text-danger" })


                                            <!-- <div class="error_msg">Required</div> -->
                                        </div>





                                    </div>

                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="CurrentPlumbingManufacturingPartners"><sup>*</sup>Current Plumbing Manufacturing Partners</label>
                                                @Html.ListBoxFor(model => model.ManufacturingPartnerId, Model.PlumbingManufacturingPartners, new { @class = "select2 form-control", size = 2, @placeholder = "" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.ManufacturingPartnerId, "", new { @class = "text-danger" })

                                        </div>


                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="InstallationPlumbers">
                                                    <sup>*</sup>Installation Plumbers
                                                </label>
                                                @Html.TextBoxFor(model => model.InstallationPlumbers, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.InstallationPlumbers, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mt-2">

                                            <p><b>Plumbing Wholesale Partners </b></p>
                                            <hr />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="PlumbingWholesalePartners"><sup>*</sup>Plumbing Wholesale Partner State</label>
                                                @Html.DropDownListFor(model => model.PlumbWholePartState, (IEnumerable<SelectListItem>)ViewBag.pstates, "--Select State--", new { @class = "form-control" })
                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.PlumbWholePartState, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="PlumbingWholesalePartners"><sup>*</sup>Plumbing Wholesale Partner City</label>
                                                @Html.DropDownListFor(model => model.PlumbWholePartCity, new SelectList(string.Empty, "Id", "Name"), "--Select City--", new { @class = "form-control" })
                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.PlumbWholePartCity, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="PlumbingWholesalePartners"><sup>*</sup>Plumbing Wholesale Partner</label>
                                                @Html.DropDownListFor(model => model.PlumbWholePartner, new SelectList(string.Empty, "Id", "WholesalePartnerName"), "--Select Wholesale Partner--", new { @class = "form-control" })
                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.PlumbWholePartner, "", new { @class = "text-danger" })
                                        </div>

                                        <p id="Addmore">
                                            <a class="btn btn-info btn-sm">
                                                <span class="glyphicon glyphicon-plus-sign"></span> Add
                                            </a>
                                        </p>
                                        <div class="error_msg" style="display:none">Same Row already Exists</div>
                                    </div>

                                    <div class="card" style="display:none" id="id_tblcard">
                                        <!-- /.card-header -->
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <table class="table table-bordered" id="wholesalepartners">
                                                        <thead>
                                                            <tr>
                                                                <th>Plumbing Wholesale Partner State</th>
                                                                <th>Plumbing Wholesale Partner City</th>
                                                                <th>Plumbing Wholesale Partner</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>

                                                        @Html.HiddenFor(m => m.WholesalePartners)
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12 mt-2">
                                            <hr />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label for="DescribeOpportunity"><sup>*</sup>Describe Opportunity</label>
                                                @Html.TextBoxFor(model => model.DescribeOpportunity, new { @class = "form-control" })

                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                            @Html.ValidationMessageFor(model => model.DescribeOpportunity, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-4 mb-3">
                                            <div class="form-group">
                                                <label><sup>*</sup>Add product Categories </label>
                                                @Html.ListBoxFor(model => model.ProductCategoryId, Model.ProductName, new { @class = "select2 form-control", @placeholder = "Your Placeholder Text" })
                                                @*@Html.DropDownListFor(model => model.ProductCategoryId, Model.ProductName, "-- Select Product Category --", new { @class = "select2", @style = "width: 100%;" })*@
                                                @Html.ValidationMessageFor(model => model.ProductCategoryId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" id="btnsubmit" class="btn btn-info">Submit</button>
                                    @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-secondary ml-3" })
                                </div>
                                <!-- /.card-footer -->
                            </div>
                        }  <!-- /.card -->
                    </div>

                </div>



            </div>



        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->
<script type="text/javascript">
    var WholesalePartners = "";
    //$('#btnsubmit').on('click', function () {
    //    debugger
    //    if ($("#RegisterForm").valid()) {
    //        $('#btnsubmit').prop('disabled', 'disabled');
    //    } else {
    //        $('#btnsubmit').prop('disabled', false);
    //    }
    //});
    $(document).ready(function () {
        debugger
        $('.select2').select2();
        $("#Zip").keypress(function (e) {
            var x = e.which || e.keycode;
            if ((x >= 48 && x <= 57))
                return true;
            else
                return false;
        });

        $("#PhoneNumber").mask("(999) 999-9999");


        $("#PhoneNumber").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);
            if (last.length === 5) {
                var move = $(this).val().substr($(this).val().indexOf("-") + 1, 1);
                var lastfour = last.substr(1, 4);
                var first = $(this).val().substr(0, 9);
                $(this).val(first + move + '-' + lastfour);
            }
        });
    });

     $("#PlumbWholePartState").change(function () {
         if ($("#PlumbWholePartState").val() !== null && $("#PlumbWholePartState").val() !== "") {
             $("#PlumbWholePartCity").empty();
             $("#PlumbWholePartner").empty();
				$.ajax({
					type: 'POST',
					url: '@Url.Action("GetPlumbingWholesalecities", "Home")',
					dataType: 'json',
                    data: { id: $("#PlumbWholePartState").val() },
					success: function (city) {
                        $("#PlumbWholePartCity").append('<option value="">--Select City--</option>');
                        $("#PlumbWholePartner").append('<option value="">--Select Wholesale Partner--</option>');
						$.each(city,
							function (i, city) {
                                $("#PlumbWholePartCity").append('<option value="' + city.Value + '">' + city.Text + '</option>');
							});
					},
					error: function (ex) {
						alert('Failed.' + ex);
					}
				});
			} else {
             $("#PlumbWholePartCity").empty();
             $("#PlumbWholePartCity").append('<option value="">--Select City--</option>');
			}
			return false;
     });

    $("#PlumbWholePartCity").change(function () {

        if ($("#PlumbWholePartCity").val() !== null && $("#PlumbWholePartCity").val() !== "") {
            $("#PlumbWholePartner").empty();

					$.ajax({
						type: 'POST',
						url: '@Url.Action("GetWholesalePartnersByCityId", "Home")',
						dataType: 'json',
                        data: { id: $("#PlumbWholePartCity").val(), stateid: $("#PlumbWholePartState").val() },
						success: function (showrooms) {
                            $("#PlumbWholePartner").append('<option value="">--Select Wholesale Partner--</option>');
							$.each(showrooms,
								function (i, wholesale) {
                                    $("#PlumbWholePartner").append('<option value="' + wholesale.Value + '">' + wholesale.Text + '</option>');
								});
						},
						error: function (ex) {
							alert('Failed.' + ex);
						}
					});

			} else {
            $("#PlumbWholePartner").empty();
            $("#PlumbWholePartner").append('<option value="">--Select Wholesale Partner--</option>');
			}
			return false;
    });

    $('#Addmore').click(function () {
        debugger
       
        var State= $("#PlumbWholePartState option:selected").val();
        var City= $("#PlumbWholePartCity option:selected").val();
        var WholesalePartnerName = $("#PlumbWholePartner option:selected").val();
        WholesalePartners += State + ',' + City + ',' + WholesalePartnerName + '|'; 
        var pstate = $("#PlumbWholePartState option:selected").text();
        var pcity = $("#PlumbWholePartCity option:selected").text();
        var wholesale = $("#PlumbWholePartner option:selected").text();
        $('.error_msg').css('display', 'none');
        if ($("#PlumbWholePartState option:selected").val() != "" && $("#PlumbWholePartCity option:selected").val() != "" && $("#PlumbWholePartner option:selected").val() != "") {
            $('#id_tblcard').css('display', 'block');
            if ($('#wholesalepartners tr > td:contains(' + pstate + ') + td:contains(' + pcity + ') + td:contains(' + wholesale + ')').length == 0) {
                $('#wholesalepartners').append('<tr><td>' + pstate + '</td><td>' + pcity + '</td><td>' + wholesale + '</td><td><a class="fas fa-trash btnSelect" style="cursor:pointer"></a></td></tr>');
                $("#PlumbWholePartState").val($("#PlumbWholePartState option:first").val());
                $("#PlumbWholePartCity option:contains('--Select City--')").attr("selected", true);
                $("#PlumbWholePartner option:contains('--Select Wholesale Partner--')").attr("selected", true);
                $('#PlumbWholePartState').rules("remove", "required");
                $('#PlumbWholePartCity').rules("remove", "required");
                $('#PlumbWholePartner').rules("remove", "required");
                $("#WholesalePartners").val(WholesalePartners);
            }

            else $('.error_msg').css('display', 'block');
        }
    });

    $("#wholesalepartners").on('click', '.btnSelect', function () {
        $(this).closest("tr").remove();
        if ($('#wholesalepartners tr').length == 1) {
            $('#id_tblcard').css('display', 'none');
            $('#PlumbWholePartState').rules("add", "required");
            $('#PlumbWholePartCity').rules("add", "required");
            $('#PlumbWholePartner').rules("add", "required");
        }
    });

</script>
