﻿@model LixilRebate.ViewModels.ResetPasswordViewModel
<body class="layout-fixed sidebar-collapse layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper ">

        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <div class="container">
                        <div class="login-box" style="margin:auto;">

                            <div class="">


                                <div class="card-head login-card-body text-center">
                                    <h3>Reset Password</h3>
                                </div>

                                <div class="card-body login-card-body">
                                    @using (Html.BeginForm())
                                    {

                                        <div class="mb-3">
                                            <div class="input-group">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-lock"></span>
                                                    </div>
                                                </div>


                                            </div>
                                            <!-- <div class="error_msg">Password Required</div> -->
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="mb-3">
                                            <div class="input-group">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-lock"></span>
                                                    </div>
                                                </div>


                                            </div>
                                            <!-- <div class="error_msg">Password Required</div> -->
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                            </div>
                                            <div class="col-4">
                                                @Html.ActionLink("Login", "Index", "Home", new { @class = "btn btn-info" })
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        @*</form>*@
                                    }
                                </div>
                                <!-- /.login-card-body -->
                            </div>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->



    </div>
    <!-- ./wrapper -->
</body>>




