﻿@model LixilRebate.ViewModels.AddRebateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRebateByRep</title>
</head>
<body class="layout-fixed sidebar-collapse layout-navbar-fixed layout-footer-fixed">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <h4>Enter Rebate</h4>
            <hr />


            <div class="form-group">
                <label class="control-label col-md-2">State</label>
                <div class="col-md-10">
                    @Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.States, "--Select State--", new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">City</label>
                <div class="col-md-10">
                    @Html.DropDownList("City", new SelectList(string.Empty, "CityId", "CityName"), "--Select City--", new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                <label  class="control-label col-md-2"><sup>*</sup>Builder</label>
            <div class="col-md-10">

                    @Html.DropDownListFor(model => model.BuilderId, (IEnumerable<SelectListItem>)ViewBag.builders, "--Select Builder--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BuilderId, "", new { @class = "text-danger" })
            </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enter Rebate" class="btn btn-default" />
            </div>
        </div>
    }


</body>
</html>

<script>

		$("#State").change(function () {
			if ($("#State").val() !== null && $("#State").val() !== "") {
				$("#City").empty();
				$.ajax({
					type: 'POST',
					url: '@Url.Action("GetCitiesByStateId", "Users")',
					dataType: 'json',
					data: { id: $("#State").val() },
					success: function (city) {
						$("#City").append('<option value="">--Select City--</option>');
						$.each(city,
							function (i, city) {
								$("#City").append('<option value="' + city + '">' + city + '</option>');
							});
					},
					error: function (ex) {
						alert('Failed.' + ex);
					}
				});
			} else {
				$("#City").empty();
				$("#City").append('<option value="">--Select City--</option>');
			}
			return false;
        });

    $("#City").change(function () {
        if ($("#State").val() !== null && $("#State").val() !== "" && $("#City").val() !== null && $("#City").val() !== "") {
            $("#BuilderId").empty();
				$.ajax({
					type: 'POST',
					url: '@Url.Action("GetBuildersFromCity", "Users")',
					dataType: 'json',
                    data: { stateid: $("#State").val(), city: $("#City").val()},
					success: function (data) {
						$("#BuilderId").append('<option value="">--Select Builder--</option>');
                        $.each(data,
                            function (i, data) {
                                $("#BuilderId").append('<option value="' + data.Value + '">' + data.Text + '</option>');
							});
					},
					error: function (ex) {
						alert('Failed.' + ex);
					}
				});
			} else {
            $("#BuilderId").empty();
            $("#BuilderId").append('<option value="">--Select Builder--</option>');
			}
			return false;
		});
</script>
