﻿@model LixilRebate.ViewModels.BuilderDetailsViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
    var type = Model.RebateType == "" ? "0" : Model.RebateType; 
}
<!DOCTYPE html>
<html lang="en">

<head>
    @*<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LIXIL Builder Rebate </title>

         Google Font: Source Sans Pro
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
         Font Awesome
        <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
         Ionicons
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">


         Theme style
        <link rel="stylesheet" href="css/theme.css">*@

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

</head>

<body class="layout-fixed sidebar-collapse layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper ">

        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container">


                    <div class="row">

                        <div class="col-md-12 ">
                            <h3 class="form_headline mt-2 mb-3">Approval Screen </h3>


                            <div class="card">
                                @using (Html.BeginForm("BuilderDetails", "Users"))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="card-body">
                                        <div class="row">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.BuilderId)
                                            @Html.HiddenFor(m => m.Edit)
                                            <div class="col-md-12 mb-2">

                                                <table class="table table-striped table-bordered">
                                                    <tr>
                                                        <th>@Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" })</th>
                                                        <th> @Html.Label("Name", htmlAttributes: new { @class = "control-label" })</th>
                                                        <th> @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })</th>
                                                        <th>@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })</th>
                                                        <th>@Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })</th>
                                                        <th>@Html.LabelFor(model => model.RegDate, htmlAttributes: new { @class = "control-label" })</th>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(m => m.CompanyName)
                                                            @Html.HiddenFor(m => m.CompanyName)
                                                        </td>
                                                        <td>

                                                            @Html.DisplayFor(m => m.FirstName)
                                                            @Html.DisplayFor(m => m.LastName)
                                                            @Html.HiddenFor(m => m.FirstName)
                                                            @Html.HiddenFor(m => m.LastName)
                                                        </td>
                                                        <td>

                                                            @Html.DisplayFor(m => m.PhoneNumber)
                                                            @Html.HiddenFor(m => m.PhoneNumber)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(m => m.City)
                                                            @Html.HiddenFor(m => m.City)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(m => m.State)
                                                            @Html.HiddenFor(m => m.State)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(m => m.DateString)
                                                            @Html.HiddenFor(m => m.RegDate)
                                                        </td>

                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-6">

                                                <table class="table table-striped table-bordered">
                                                    <tbody>


                                                        @if (ViewBag.role != "2")
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.Label("Lixil Rep: ")
                                                                </td>
                                                                <td>
                                                                    @ViewBag.repname
                                                                </td>
                                                            </tr>
                                                        }

                                                        <tr>
                                                            <td>
                                                                @Html.LabelFor(model => model.AnnualNoOfHomes, htmlAttributes: new { @class = "" })

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(m => m.AnnualHomes)
                                                                @Html.HiddenFor(m => m.AnnualNoOfHomes)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                @Html.LabelFor(model => model.WebsiteURL, htmlAttributes: new { @class = "" })

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(m => m.WebsiteURL)
                                                                @Html.HiddenFor(m => m.WebsiteURL)
                                                        </tr>

                                                        @*<tr>
                                                                <td style="width: 50%">
                                                                    @Html.LabelFor(model => model.PlumbManufacturePartners, htmlAttributes: new { @class = "" })

                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(m => m.PlumbManufacturePartners)
                                                                    @Html.HiddenFor(m => m.PlumbManufacturePartners)
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    @Html.LabelFor(model => model.PlumbWholesalePartners, htmlAttributes: new { @class = "" })

                                                                </td>

                                                                <td>
                                                                    @Html.DisplayFor(m => m.PlumbWholesalePartners)
                                                                    @Html.HiddenFor(m => m.PlumbWholesalePartners)
                                                                </td>
                                                            </tr>*@

                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-6">

                                                <table class="table table-striped table-bordered">
                                                    <tbody>



                                                        <tr>
                                                            <td style="width: 50%">
                                                                @Html.LabelFor(model => model.AvgPriceUnit, htmlAttributes: new { @class = "" })
                                                            </td>
                                                            <td>

                                                                $@Html.DisplayFor(m => m.AvgPriceUnit)
                                                                @Html.HiddenFor(m => m.AvgPriceUnit)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="width: 50%">
                                                                @Html.LabelFor(model => model.PercentPlumbingUpgrades, htmlAttributes: new { @class = "" })
                                                            </td>
                                                            <td>

                                                                @Html.DisplayFor(m => m.PercentPlumbingUpgrades)%
                                                                @Html.HiddenFor(m => m.PercentPlumbingUpgrades)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="width: 50%">
                                                                @Html.LabelFor(model => model.InstallationPlumb, htmlAttributes: new { @class = "" })
                                                            </td>
                                                            <td>

                                                                @Html.DisplayFor(m => m.InstallationPlumb)
                                                                @Html.HiddenFor(m => m.InstallationPlumb)
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>



                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td width="50%">
                                                                @Html.LabelFor(model => model.PlumbManufacturePartners, htmlAttributes: new { @class = "" })
                                                            </td>
                                                            <td>
                                                                @if (Model != null && Model.PlumbManufacturePartners != null)
                                                                {
                                                                    //string.Join(",", Model.ProductCategories);
                                                                    var lis = string.Join(", ", Model.PlumbManufacturePartners);
                                                                    <span>@lis</span>
                                                                }
                                                                @Html.HiddenFor(m => m.PlumbManufacturePartners)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td width="50%">
                                                                @Html.LabelFor(model => model.PlumbWholesalePartners, htmlAttributes: new { @class = "" })
                                                            </td>
                                                            <td>
                                                                @if (Model != null && Model.PlumbWholesalePartners != null)
                                                                {
                                                                    //string.Join(",", Model.ProductCategories);
                                                                    var lis = string.Join(", ", Model.PlumbWholesalePartners);
                                                                    <span>@lis</span>
                                                                }
                                                                @Html.HiddenFor(m => m.PlumbWholesalePartners)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td width="50%">
                                                                @Html.LabelFor(model => model.ProductCategories, htmlAttributes: new { @class = "" })
                                                            </td>
                                                            <td>
                                                                @if (Model != null && Model.ProductCategories != null)
                                                                {
                                                                    //string.Join(",", Model.ProductCategories);
                                                                    var lis = string.Join(", ", Model.ProductCategories);
                                                                    <span>@lis</span>
                                                                }
                                                                @Html.HiddenFor(m => m.ProductCategories)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                                <table class="table table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                @Html.LabelFor(model => model.OpportunityBoxNotes, htmlAttributes: new { @class = "" })
                                                            </td>
                                                            <td>
                                                                @if (ViewBag.role == "2")
                                                                {
                                                                    @Html.TextBoxFor(m => m.OpportunityBoxNotes, new { @class = "form-control", value = Model.OpportunityBoxNotes })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(m => m.OpportunityBoxNotes)
                                                                }
                                                                @Html.HiddenFor(m => m.OpportunityBoxNotes)
                                                            </td>



                                                            <td>
                                                                <label><sup>*</sup>Program Type</label>
                                                            </td>
                                                            <td>
                                                                @if (ViewBag.role == "2")
                                                                {
                                                                    @Html.DropDownListFor(m => m.RebateType,
                                           new SelectList(new List<SelectListItem> {
             new SelectListItem { Text = "Rewards", Value = "1"},
             new SelectListItem { Text = "Select", Value = "2"}
         }, "Value", "Text"),
    "Select Type",

                                                 new { @class = "form-control" })

                                                                }
                                                                else
                                                                {
                                                                    <span>@(Model.RebateType == "1" ? "Rewards" : "Select")</span>
                                                                }
                                                                @Html.ValidationMessageFor(model => model.RebateType, "", new { @class = "text-danger" })
                                                                @Html.HiddenFor(m => m.RebateType)


                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">

                                                                <table style="width:100%">
                                                                    <tr style="@(Model.RebateType=="2" ? "display:block" : "display:none")" id="dvProd">
                                                                        <td>
                                                                            <label><sup>*</sup>Model Home CO-OP</label>
                                                                            @*@Html.LabelFor(model => model.ModelHomeCoOp, htmlAttributes: new { @class = "" })*@
                                                                            @if (ViewBag.role == "2")
                                                                            {
                                                                                @*@Html.DropDownListFor(m => m.ModelCoOpString,
                                        new SelectList(Enum.GetValues(typeof(LixilRebate.ViewModels.YesNo))),*@
                                                                                @Html.DropDownListFor(model => model.ModelHomeCoOp, new SelectList(new List<SelectListItem> {
             new SelectListItem { Text = "Yes", Value = "Yes"},
             new SelectListItem { Text = "No", Value = "No"}
         }, "Value", "Text"),
    "Select", new { @class = "form-control" })
                                                                            }
                                                                            else
                                                                            {
                                                                                @Html.DisplayFor(m => m.ModelHomeCoOp)
                                                                            }
                                                                            @Html.ValidationMessageFor(model => model.ModelHomeCoOp, "", new { @class = "text-danger" })
                                                                            @Html.HiddenFor(m => m.ModelHomeCoOp)

                                                                        </td>

                                                                        <td>
                                                                            <label><sup>*</sup>Per House Rebate</label>
                                                                            @*@Html.LabelFor(model => model.PerHouseRebate, htmlAttributes: new { @class = "" })*@
                                                                            @if (ViewBag.role == "2")
                                                                            {

                                                                                <div class="form-group">

                                                                                    <div class="input-group mb-3">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">$</span>
                                                                                        </div>
                                                                                        @Html.TextBoxFor(m => m.PerHouseRebate, new { @class = "form-control", value = Model.PerHouseRebate })

                                                                                    </div>

                                                                                </div>
                                                                                <!-- <div class="error_msg">Required</div> -->



                                                                                @*@Html.TextBoxFor(m => m.PerHouseRebate, new { @class = "form-control", value = "$" + Model.PerHouseRebate })*@
                                                                            }
                                                                            else
                                                                            {
                                                                                @Html.DisplayFor(m => m.PerHouseRebate)
                                                                            }
                                                                            @Html.ValidationMessageFor(model => model.PerHouseRebate, "", new { @class = "text-danger" })
                                                                            @Html.HiddenFor(m => m.PerHouseRebate)


                                                                        </td>

                                                                    </tr>
                                                                </table>

                                                        </tr>

                                                        <tr style="@(Model.RebateType=="2" ? "display:block" : "display:none")" id="termagr">
                                                            <td>
                                                                <label><sup>*</sup>Term of Agreement</label>
                                                                @*@Html.LabelFor(model => model.TermAgreement, htmlAttributes: new { @class = "" })*@
                                                                @if (ViewBag.role == "2")
                                                                {
                                                                    @Html.DropDownListFor(m => m.TermAgreement,
                                                         new SelectList(new List<SelectListItem> {
                                                         new SelectListItem { Text = "3 Years", Value = "3"},
                                                         new SelectListItem { Text = "4 Years", Value = "4"},
                                                         new SelectListItem { Text = "5 Years", Value = "5"},
                                                         new SelectListItem { Text = "Other", Value = "Other"},
                                                        }, "Value", "Text"),
                                                        "Select",

                                                 new { @class = "form-control" })
                                                                }
                                                                else
                                                                {
                                                                    @*@Html.DisplayFor(m => m.TermAgreement+"years")*@

                                                                    if (@Model.TermAgreement == "Other")
                                                                    {
                                                                        <span>@Model.TermAgreement</span>
                                                                    }

                                                                    else
                                                                    {
                                                                        <span>@Model.TermAgreement years</span>
                                                                    }

                                                                }
                                                                @Html.ValidationMessageFor(model => model.TermAgreement, "", new { @class = "text-danger" })
                                                                @Html.HiddenFor(m => m.TermAgreement)


                                                            </td>
                                                        </tr>

                                                        <tr id="clngthyrs" style="@(Model.TermAgreement=="Other" ? "display:block" : "display:none")">
                                                            <td>
                                                                <label><sup>*</sup>Contract Length in Years</label>
                                                                @Html.TextBoxFor(m => m.ContractLengthYears, new { @class = "form-control", value = Model.ContractLengthYears })
                                                                @Html.ValidationMessageFor(model => model.ContractLengthYears, "", new { @class = "text-danger" })
                                                                @Html.HiddenFor(m => m.ContractLengthYears)
                                                            </td>
                                                        </tr>

                                                        <tr id="dvamt" style="@(Model.ModelHomeCoOp=="Yes" ? "display:block" : "display:none")">
                                                            <td>
                                                                <label><sup>*</sup>Model Home CO-OP Value</label>
                                                                @*@Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-8" })*@
                                                                @if (ViewBag.role == "2")
                                                                {
                                                                    @Html.DropDownListFor(model => model.Value, (IEnumerable<SelectListItem>)ViewBag.amts, "Select", new { @class = "form-control" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(m => m.Amount)
                                                                }
                                                                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                                                                @Html.HiddenFor(m => m.Value)
                                                            </td>
                                                        </tr>

                                                        <tr style="@(Model.ModelHomeCoOp == "Yes" && (Model.Value=="other" || Model.Value == "5") ? "display:block" : "display:none")" id="dvotheramt">
                                                            <td>
                                                                @Html.Label("Enter Amount in $", htmlAttributes: new { @class = "control-label col-md-8" })
                                                                @if (ViewBag.role == "2")
                                                                {
                                                                    @Html.TextBoxFor(m => m.OtherAmount, new { @class = "form-control", value = Model.OtherAmount })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(m => m.OtherAmount)
                                                                }
                                                                @Html.ValidationMessageFor(model => model.OtherAmount, "", new { @class = "text-danger" })
                                                            </td>
                                                        </tr>

                                                        @if (Request.Cookies["Role"].Value.ToString() == ViewBag.role)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <label><sup>*</sup>Builder Status</label>
                                                                    @* @Html.LabelFor(model => model.BuilderStatus, htmlAttributes: new { @class = "" })*@
                                                                    @Html.DropDownListFor(model => model.BuilderStatus, new SelectList(new List<SelectListItem> {
             new SelectListItem { Text = "Approved", Value = "2"},
             new SelectListItem { Text = "Denied", Value = "3"}
         }, "Value", "Text"),
    "Select",

                         new { @class = "form-control" })
                                                                    @Html.ValidationMessageFor(model => model.BuilderStatus, "", new { @class = "text-danger" })
                                                                    @Html.HiddenFor(m => m.BuilderStatus)


                                                                </td>
                                                            </tr>
                                                        }

                                                        <tr style="margin-top:10px; @(Model.BuilderStatus == "3" ? "display:block" : "display:none")" id="dvReasn">
                                                            <td>
                                                                <div style="width:100%">
                                                                    <label><sup>*</sup>Reason for Denied</label>
                                                                    @*@Html.Label("Reason for Denied", htmlAttributes: new { @class = "" })*@
                                                                    @Html.TextAreaFor(m => m.ReasonDenied, new { rows = 3, value = Model.ReasonDenied, @class = "form-control" })
                                                                    @Html.ValidationMessageFor(model => model.ReasonDenied, "", new { @class = "text-danger" })
                                                                    @Html.HiddenFor(m => m.ReasonDenied)
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                @if (Request.Cookies["Role"].Value.ToString() == "2" && (Model.BuilderStatus == "1" || Model.BuilderStatus == "3" || Model.Edit == 1))
                                                {
                                                    <div style="@(Model.RebateType=="2" ? "display:block" : "display:none")" id="rooms">
                                                        <div><b>Minimum Base Specification</b></div>
                                                        <table style="width:100%" class="table table-striped table-bordered">
                                                            <tr>
                                                                <th>Room</th>
                                                                <th>Product SKUs</th>
                                                            </tr>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width:30%">
                                                                        @if (Request.Cookies["Role"].Value.ToString() == "2" && (Model.BuilderStatus == "1" || Model.BuilderStatus == "3" || Model.Edit == 1))
                                                                        {
                                                                            @Html.DropDownListFor(model => model.Room, (IEnumerable<SelectListItem>)ViewBag.rooms, "-- Select Room --", new { @class = " form-control", @style = "width: 100%;" })
                                                                        }

                                                                        @Html.ValidationMessageFor(model => model.Room, "", new { @class = "text-danger" })
                                                                    </td>
                                                                    <td style="width:100%">
                                                                        @if (Request.Cookies["Role"].Value.ToString() == "2" && (Model.BuilderStatus == "1" || Model.BuilderStatus == "3" || Model.Edit == 1))
                                                                        {
                                                                            @Html.ListBoxFor(model => model.ProductNumber, (IEnumerable<SelectListItem>)ViewBag.Products, new { @class = "form-control select2", @placeholder = "" })
                                                                        }
                                                                        @Html.ValidationMessageFor(model => model.ProductNumber, "", new { @class = "text-danger" })
                                                                    </td>

                                                                    <td>
                                                                        <p id="Addmore">
                                                                            <a class="btn btn-info btn-sm">
                                                                                <span class="glyphicon glyphicon-plus-sign"></span> Add
                                                                            </a>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="error_msg" style="display:none">Same Room Selected</div>
                                                    </div>
                                                }


                                                <div class="card" id="id_tblcard" style="display:none">
                                                    <!-- /.card-header -->
                                                    <div class="card-body">

                                                        <div class="row">
                                                            <div class="col-md-12 mb-2">
                                                                <table class="table table-bordered" id="roomstbl">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Room</th>
                                                                            <th>Product SKUs</th>
                                                                            @if (ViewBag.role == "2")
                                                                            {
                                                                                <th>Delete</th>
                                                                            }

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (Model != null && Model.MasterBathroom.Count() > 0)
                                                                        {
                                                                        <tr>
                                                                            <td class="clsroom">Master Bathroom</td>
                                                                            <td>
                                                                                @string.Join(", ", Model.MasterBathroom)
                                                                            </td>
                                                                            @if (ViewBag.role == "2")
                                                                            {
                                                                                <td><a class="fas fa-trash btnSelect" style="cursor:pointer"></a></td>
                                                                            }

                                                                        </tr>
                                                                        }

                                                                        @if (Model != null && Model.sBathroom1.Count() > 0)
                                                                        {
                                                                    <tr>
                                                                        <td class="clsroom">Bathroom 1</td>
                                                                        <td>
                                                                            @string.Join(", ", Model.sBathroom1)
                                                                        </td>
                                                                        @if (ViewBag.role == "2")
                                                                        {
                                                                            <td><a class="fas fa-trash btnSelect" style="cursor:pointer"></a></td>
                                                                        }
                                                                    </tr>
                                                                        }

                                                                        @if (Model != null && Model.sBathroom2.Count() > 0)
                                                                        {
                                                                    <tr>
                                                                        <td class="clsroom">Bathroom 2</td>
                                                                        <td>
                                                                            @string.Join(", ", Model.sBathroom2)
                                                                        </td>
                                                                        @if (ViewBag.role == "2")
                                                                        {
                                                                            <td><a class="fas fa-trash btnSelect" style="cursor:pointer"></a></td>
                                                                        }
                                                                    </tr>
                                                                        }

                                                                        @if (Model != null && Model.sBathroom3.Count() > 0)
                                                                        {
                                                                    <tr>
                                                                        <td class="clsroom">Bathroom 3</td>
                                                                        <td>
                                                                            @string.Join(", ", Model.sBathroom3)
                                                                        </td>
                                                                        @if (ViewBag.role == "2")
                                                                        {
                                                                            <td><a class="fas fa-trash btnSelect" style="cursor:pointer"></a></td>
                                                                        }
                                                                    </tr>
                                                                        }

                                                                        @if (Model != null && Model.sKitchen1.Count() > 0)
                                                                        {
                                                                    <tr>
                                                                        <td class="clsroom">Kitchen 1</td>
                                                                        <td>
                                                                            @string.Join(", ", Model.sKitchen1)
                                                                        </td>
                                                                        @if (ViewBag.role == "2")
                                                                        {
                                                                            <td><a class="fas fa-trash btnSelect" style="cursor:pointer"></a></td>
                                                                        }
                                                                    </tr>
                                                                        }

                                                                        @if (Model != null && Model.sKitchen2.Count() > 0)
                                                                        {
                                                                    <tr>
                                                                        <td class="clsroom">Kitchen 2</td>
                                                                        <td>
                                                                            @string.Join(", ", Model.sKitchen2)
                                                                        </td>
                                                                        @if (ViewBag.role == "2")
                                                                        {
                                                                            <td><a class="fas fa-trash btnSelect" style="cursor:pointer"></a></td>
                                                                        }
                                                                    </tr>
                                                                        }

                                                                        @if (Model != null && Model.sLaundryroom.Count() > 0)
                                                                        {
                                                                    <tr>
                                                                        <td class="clsroom">Laundry Room</td>
                                                                        <td>
                                                                            @string.Join(", ", Model.sLaundryroom)
                                                                        </td>
                                                                        @if (ViewBag.role == "2")
                                                                        {
                                                                            <td><a class="fas fa-trash btnSelect" style="cursor:pointer"></a></td>
                                                                        }
                                                                    </tr>
                                                                        }

                                                                        @if (Model != null && Model.sOther.Count() > 0)
                                                                        {
                                                                    <tr>
                                                                        <td class="clsroom">Other</td>
                                                                        <td>
                                                                            @string.Join(", ", Model.sOther)
                                                                        </td>
                                                                        @if (ViewBag.role == "2")
                                                                        {
                                                                            <td><a class="fas fa-trash btnSelect" style="cursor:pointer"></a></td>
                                                                        }
                                                                    </tr>
                                                                        }
                                                                    </tbody>
                                                                    @Html.HiddenFor(m => m.RoomProductSKUs)
                                                                </table>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>

                                            </div>
                                        </div>

                                        @if (Request.Cookies["Role"].Value.ToString() == ViewBag.role)
                                        {
                                            <div class="card-footer">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <button type="submit" id="btnSubmit" class="btn btn-info">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                }

                                <div style="clear: both;"></div>
                            </div>

                        </div>

                    </div>

                    <!-- /.row -->


                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->



    </div>
    <script>
        var userrooms = "";
        $(document).ready(function () {
            debugger
            if (@type == "2")
        $('#id_tblcard').css("display", "block");
            if ($("#RebateType option:selected").text() == "Select") {
                $('#Room').rules("remove", "required");
                $('#ProductNumber').rules("remove", "required");
                $('#id_tblcard').css("display", "block");
            }
            $('.select2').select2();
            $('#reservationdate').datetimepicker({
                format: 'L'
            });
        });

        $("#RebateType").change(function () {
            if ($("#RebateType option:selected").text() == "Select") {
                $('#dvProd').show();
                $('#termagr').show();
                $('#rooms').show();
                $('#roomstbl').show();
            }

            else {
                $('#dvProd').hide();
                $('#dvamt').hide();
                $('#dvotheramt').hide();
                $('#termagr').hide();
                $('#rooms').hide();
                $('#clngthyrs').hide();
                $('#roomstbl').hide();
            }
        });

        $("#ModelHomeCoOp").change(function () {
            if ($("#ModelHomeCoOp option:selected").text() == "Yes") {
                $('#dvamt').show();
                $('#dvValue').show();
            }

            else {
                $('#dvamt').hide();
                $('#dvValue').hide();
            }
        });

        $("#BuilderStatus").change(function () {
            if ($("#BuilderStatus option:selected").text() == "Denied") {
                $('#dvReasn').show();
                $('#RebateType').rules("remove", "required");
            }
            else {
                $('#dvReasn').hide();
                $('#RebateType').rules("add", "required");
            }
        });

        $("#termagr").change(function () {
            if ($("#termagr option:selected").text() == "Other")
                $('#clngthyrs').show();
            else $('#clngthyrs').hide();
        });

        $('#Addmore').click(function () {
            debugger
            var room = $('#Room option:selected').text();
            var productskus = [];
            $('#ProductNumber :selected').each(function (i, selected) {
                productskus[i] = " " + $(selected).text();
            });
            var roomval = $('#Room option:selected').val();
            var prodval = $('#ProductNumber').val();
            userrooms += roomval + '|' + prodval + '#';
            $('.error_msg').css('display', 'none');
            if (room != "" && $("#ProductNumber").val().length != 0) {
                $('#id_tblcard').css('display', 'block');
                if ($('#roomstbl tr > td:contains(' + room + ')').length == 0) {
                    $('#roomstbl').append('<tr><td class="clsroom">' + room + '</td><td>' + productskus + '</td><td class="clsProductSKU"><a class="fas fa-trash btnSelect" style="cursor:pointer"></a></td></tr>');
                    $("#Room").val($("#Room  option:first").val());
                    $('#ProductNumber ').val('').trigger("change");
                    $('#Room').rules("remove", "required");
                    $('#ProductNumber').rules("remove", "required");
                    $("#RoomProductSKUs").val(userrooms);
                }

                else $('.error_msg').css('display', 'block');
            }
        });


        $("#roomstbl").on('click', '.btnSelect', function () {
            debugger
            var roomtext = $(this).closest('tr').find('.clsroom').text();
            if (roomtext != "") {
                 $.ajax({
						type: 'POST',
						url: '@Url.Action("DeleteRoomBuilder", "Users")',
                        dataType: 'json',
                        data: { BuilderId: parseInt($("#BuilderId").val()), roomtext: roomtext },
						success: function (data) {

						},
						error: function (ex) {
							alert('Failed.' + ex);
						}
					});
            }

        $(this).closest("tr").remove();
        if ($('#roomstbl tr').length == 1) {
            $('#id_tblcard').css('display', 'none');
            $('#Room').rules("add", "required");
            $('#ProductNumber').rules("add", "required");
        }
        });
    </script>

</body>

</html>