﻿@model LixilRebate.ViewModels.BuilderDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var today = DateTime.Now.ToString("MM/dd/yyyy");
}


<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
</head>

<body lang=EN-US link="#0563C1" vlink="#954F72" style='word-wrap:break-word'>
    <div id="dvAgrmnt">
        <div class=WordSection1>
            <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'>
                <b>
                    BUILDERS
                    SELECT AGREEMENT
                </b>
            </p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>
                This Builders
                Select Agreement (this “Agreement”) is entered into this <b>@today </b> (the “Effective Date”) by and between AS AMERICA, INC.,
                d/b/a American Standard Brands, a Delaware corporation (“Company”); and <b>@Model.CompanyName</b> corporation (“Builder”).  Company and Builder may
                be referred to individually herein as a “Party” or collectively as the
                “Parties.”
            </p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>
                WHEREAS,
                Builder is a small, regional, or national home builder that builds more than
                twenty-five (25) homes per year;
            </p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='text-align:justify'>
                WHEREAS, Builder desires to
                contract with the Company to specify and/or install Company products;
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                WHEREAS, Builder commits to a
                minimum base specification;
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                WHEREAS, Builder commits to at
                least one (1) year in connection with this Agreement; and
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                WHEREAS, Builder commits to
                ensure homeowners experience the design excellence, craftsmanship and
                performance the Company’s brands deliver.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                NOW, THEREFORE, in
                consideration of the covenants, conditions and consideration set forth herein,
                the receipt and sufficiency of which are hereby acknowledged, the Parties agree
                as follows:
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                1.         <u>
                    Minimum Base
                    Specification
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                Builder agrees to the following
                minimum base specification:
            </p>

            <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
                   style='margin-left:1.7in;border-collapse:collapse;border:none'>
                <tr>
                    <td width=156 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'><b>Room</b></p>
                    </td>
                    <td width=162 valign=top style='width:121.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'>
                            <b>
                                Product
                                SKUs
                            </b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width=156 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-indent:0in'>Master Bathroom</p>
                    </td>
                    <td width=162 valign=top style='width:121.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'>
                            <b>
                                @if (Model != null && Model.MasterBathroom.Count() > 0)
                                {
                                    //string.Join(",", Model.ProductCategories);
                                    var lis = string.Join(", ", Model.MasterBathroom);
                                    <span>@lis</span>
                                }
                                else
                                {
                                    <span>--</span>
                                }

                            </b>
                           
                                            </p>
                    </td>
                </tr>
                <tr>
                    <td width=156 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-indent:0in'>Bathroom 1</p>
                    </td>
                    <td width=162 valign=top style='width:121.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-align:justify;text-indent:0in'>
                            <b>
                                @if (Model != null && Model.sBathroom1.Count() > 0)
                                {
                                    //string.Join(",", Model.ProductCategories);
                                    var lis = string.Join(", ", Model.sBathroom1);
                                    <span>@lis</span>
                                }
                                else
                                {
                                    <span>--</span>
                                }
                            </b>
                                            </p>
                    </td>
                </tr>
                <tr>
                    <td width=156 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-indent:0in'>Bathroom 2</p>
                    </td>
                    <td width=162 valign=top style='width:121.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'>
                            <b>
                                @if (Model != null && Model.sBathroom2.Count() > 0)
                                {
                                    //string.Join(",", Model.ProductCategories);
                                    var lis = string.Join(", ", Model.sBathroom2);
                                    <span>@lis</span>
                                }
                                else
                                {
                                    <span>--</span>
                                }
                            </b>
                                            </p>
                    </td>
                </tr>
                <tr>
                    <td width=156 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-indent:0in'>Bathroom 3</p>
                    </td>
                    <td width=162 valign=top style='width:121.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-align:justify;text-indent:0in'>
                            <b>
                                @if (Model != null && Model.sBathroom3.Count() > 0)
                                {
                                    //string.Join(",", Model.ProductCategories);
                                    var lis = string.Join(", ", Model.sBathroom3);
                                    <span>@lis</span>
                                }
                                else
                                {
                                    <span>--</span>
                                }
                            </b>
                                            </p>
                    </td>
                </tr>
                <tr>
                    <td width=156 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-indent:0in'>Kitchen 1</p>
                    </td>
                    <td width=162 valign=top style='width:121.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'>
                            <b>
                                @if (Model != null && Model.sKitchen1.Count() > 0)
                                {
                                    //string.Join(",", Model.ProductCategories);
                                    var lis = string.Join(", ", Model.sKitchen1);
                                    <span>@lis</span>
                                }
                                else
                                {
                                    <span>--</span>
                                }
                            </b>
                                            </p>
                    </td>
                </tr>
                <tr>
                    <td width=156 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-indent:0in'>Kitchen 2</p>
                    </td>
                    <td width=162 valign=top style='width:121.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-align:justify;text-indent:0in'>
                            <b>
                                @if (Model != null && Model.sKitchen2.Count() > 0)
                                {
                                    //string.Join(",", Model.ProductCategories);
                                    var lis = string.Join(", ", Model.sKitchen2);
                                    <span>@lis</span>
                                }
                                else
                                {
                                    <span>--</span>
                                }
                            </b>
                                            </p>
                    </td>
                </tr>
                <tr>
                    <td width=156 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-indent:0in'>Laundry Room</p>
                    </td>
                    <td width=162 valign=top style='width:121.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'>
                            <b>
                                @if (Model != null && Model.sLaundryroom.Count() > 0)
                                {
                                    //string.Join(",", Model.ProductCategories);
                                    var lis = string.Join(", ", Model.sLaundryroom);
                                    <span>@lis</span>
                                }
                                else
                                {
                                    <span>--</span>
                                }
                            </b>
                                            </p>
                    </td>
                </tr>
                <tr>
                    <td width=156 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-indent:0in'>Other</p>
                    </td>
                    <td width=162 valign=top style='width:121.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-align:justify;text-indent:0in'>
                            <b>
                                @if (Model != null && Model.sOther.Count() > 0)
                                {
                                    //string.Join(",", Model.ProductCategories);
                                    var lis = string.Join(", ", Model.sOther);
                                    <span>@lis</span>
                                }
                                else
                                {
                                    <span>--</span>
                                }
                            </b>
                        </p>
                    </td>
                </tr>
            </table>

            <p class=MsoBodyText style='text-align:justify'>
                <span style='color:white'>2.</span>         <u>
                    Marketing
                    Assistance
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                2.1       The Company shall
                provide the Builder:  (a) access to the Company’s exclusive library of
                photography, videos, and national advertising campaigns; (b) new product
                signage; (c) a dedicated sales representative to coordinate with Builder; (d)
                the Company’s current product warranty booklet(s); (e) the Company’s builder
                product reference guide; and (f) listing on the Company’s builder landing page
                with a direct link.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                2.2       If the “Yes” box is
                checked below, then Builder is eligible for the Company’s model home co-op:
            </p>

            <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
                   style='margin-left:153.9pt;border-collapse:collapse;border:none'>
                <tr>
                    <td width=114 valign=top style='width:85.5pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        
                        <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'><b>@Model.ModelHomeCoOp</b></p>
                    </td>
                    <td width=120 valign=top style='width:1.25in;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'>&nbsp;</p>
                    </td>
                </tr>
            </table>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='text-align:justify'>
                Builder’s eligibility in the
                model home co-op shall be for the following amount annually:
            </p>

            <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
                   style='margin-left:153.9pt;border-collapse:collapse;border:none'>
                <tr>
                    <td width=114 valign=top style='width:85.5pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'><b>@Model.Value</b></p>
                    </td>
                    <td width=120 valign=top style='width:1.25in;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-align:justify;text-indent:0in'>&nbsp;</p>
                    </td>
                </tr>
            </table>
           


            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='text-align:justify'>
                3.         <u>
                    Training and
                    Resources
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                The Company shall provide
                Builder with: (a) a personal product specification consultation with a Company
                representative; (b) access to product training; (c) access to the Company’s
                design center tour in Piscataway, New Jersey; and (d) plumber and installer
                training.
            </p>

            <p class=MsoBodyText style='text-align:justify'>4.         <u>Rebates</u></p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>
                Builder shall
                be entitled to participate in the Company’s customized rebate program.  Based
                on Builder’s selections, the rebate shall be <b>$@Model.PerHouseRebate </b> per home, which will be paid
                on an annual or quarterly basis with payment after April 1 following the
                Effective Date.  Builder must provide closing statements, to include physical
                address(s) or block/lot numbers by March 1 of the calendar year to qualify for
                the rebate.
            </p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='text-align:justify'>
                5.         <u>
                    Model Home and
                    Display Benefits
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                5.1       Builder shall be
                entitled to model home product reimbursement for the Company’s products in the
                following amounts (List Price):  (a) up to $750 in brass; (b) up to $750 in
                chinaware; (c) up to $1,750 in bathing; and (d) up to $5,000 for complete model
                based on a case by case basis.  Benefits shall be applied per model.
            </p>

            <p class=MsoBodyText style='text-align:justify'>6.         <u>Annual Audit</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                As a condition of this
                Agreement, Builder agrees to participate in the Company’s annual audit of model
                homes and communities.
            </p>

            <p class=MsoBodyText style='text-align:justify'>7.         <u>Promotion</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                As a condition of this
                Agreement, Builder agrees to permit the Company to promote, at the Company’s
                sole discretion, the Builder’s (1) logo on the Company’s website with a direct
                link to Builder’s website; and (2) brand on social media with regard to new
                home construction.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                8.         <u>
                    Term and
                    Termination
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                8.1       The term of this
                Agreement shall begin on the Effective Date and terminate upon the completion
                of the time period checked in the boxes below:
            </p>

            <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
                   style='margin-left:153.9pt;border-collapse:collapse;border:none'>
                <tr>
                    <td width=114 valign=top style='width:85.5pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText align=center style='text-align:center;text-indent:0in'>
                            <b>@Model.TermAgreement years</b>
                        </p>
                    </td>
                    <td width=120 valign=top style='width:1.25in;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoBodyText style='text-align:justify;text-indent:0in'>&nbsp;</p>
                    </td>
                </tr>
            </table>

            <p class=MsoBodyText style='text-align:justify'>
                <span style='color:white'>8.</span>2.      Either
                Party may terminate this Agreement, without penalty or payment of any
                termination charges: (a) upon written notice to the other Party if the other
                Party is in material breach of this Agreement and fails to cure such breach
                within thirty (30) days of receipt of written notice thereof: or (b)
                immediately in the event the bankruptcy or insolvency of the other Party.
            </p>

            <p class=MsoBodyText style='text-align:justify'>9.         <u>Expenses</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                Builder shall be responsible
                for paying all expenses incurred by it in the performance of this Agreement,
                including employee pay/benefits, rent, office expenses, marketing and promotion
                expenses, packaging and supply expenses, courier or overnight delivery service
                expenses, mileage and vehicle expenses, other travel expenses, and tool,
                equipment, advertising, licensing, tax, insurance, entertainment, meal, personnel
                and telephone expenses.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                10.       <u>
                    Compliance
                    Obligations
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                10.1     Builder shall comply
                with all applicable laws and regulations in connection with its performance
                under this Agreement. Without limiting the foregoing, Builder (including its
                shareholders, partners, legal or beneficial owners, directors, officers,
                managers, employees, agents, and any other third party acting on its behalf)
                will:
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                a)         not authorize,
                make, direct, or approve  any  direct or  indirect  offer, payment, or promise
                of anything  of value (including  material allowances  and gifts) to  a third
                party, including customers, customer  representatives, and government
                officials (including  public official or servant, no matter their rank or
                function), to obtain or retain business or to otherwise secure an undue
                advantage, and will not accept nor agree to accept any payments or allowances
                as may constitute  an illegal or corrupt practice under the applicable laws,
                including the U.S. Foreign Corrupt Practices Act, the U.K. Bribery Act of 2011,
                equivalent laws of the European Union and Japan, and any other jurisdiction in
                which any aspect of this Agreement will take place (“Anti-Corruption
                Obligation”);
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                b)         comply with all
                trade compliance laws and regulations (<i>e.g.</i>, embargos,  sanctions, trade
                restrictions) under all applicable laws, including those of the European Union,
                United Kingdom, United States of America, Japan and any other jurisdictions
                which may apply to the business relationship  of the Parties (“Trade
                Compliance Obligation”);
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                c)         comply with all
                applicable competition and antitrust laws and regulations (“Antitrust
                Obligation”); and
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                d)         at all times
                maintain strict compliance with the Anti-Corruption, Trade Compliance and
                Antitrust Obligations, monitor its employees and agents to ensure their
                compliance with these obligations, and, in all its dealings, make clear that it
                is acting in accordance with the Anti-Corruption, Trade Compliance, and
                Antitrust Obligations.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                10.2     Builder acknowledges
                that it is neither acting nor will act directly or indirectly on behalf of
                Company other than as specified herein.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                10.3     Builder agrees to
                notify Company immediately:  (i) if Builder discovers that it, or any of its
                shareholders, partners, legal or beneficial owners, directors, officers, managers,
                employees or agents, has violated its obligations under this Compliance Clause;
                and/or (ii) upon becoming aware that it, whether directly or through
                intermediaries, is the subject of any request for information, investigation,
                litigation, penalty, or claim from any government enforcement entity, or any
                third party, for violation of any Anti-Corruption Obligation and any other
                applicable laws or regulations.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                10.4     Builder will provide
                all information which Company may reasonably request in order to evaluate
                whether a breach of its obligations under this Compliance Clause has occurred
                and the implications for its business, and the Builder will fully cooperate
                with audits or inspections by Company personnel and/or its designated third
                party.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                10.5     Builder acknowledges
                that a breach of the provisions in this Compliance Clause will constitute a
                material breach of this Agreement, and Company shall be entitled to immediately
                terminate this Agreement without limitation of any other rights it may have.  On
                termination for a breach of this Compliance Clause, Builder will not be
                entitled to claim compensation due to premature or unjust termination.
            </p>

            <p class=MsoBodyText style='text-align:justify'>11. <u>Intellectual Properties</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                As between Company and Builder,
                Company retains sole ownership of all copyrights, patents, trademarks and
                service marks (and the goodwill associated therewith) (“Trademarks”), Trade
                Secrets, Confidential Information, know-how and other intellectual property
                rights shared in connection with this Agreement (“Intellectual Properties”).  Trademarks
                may solely be used by Builder in connection with this Agreement and in
                compliance with any policies, procedures and rules established by Company from
                time to time.  Upon termination of this Agreement, Builder will immediately
                discontinue use of all Company Intellectual Properties.
            </p>

            <p class=MsoBodyText style='text-align:justify'>12.       <u>Confidentiality</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                Builder agrees that neither it,
                nor any employees or affiliates of Builder, will disclose or communicate to any
                individual or entity, or otherwise copy or use, for Builder or any other person
                or entity, any “Confidential Information” (as defined below) or “Trade Secrets”
                (as defined under applicable law) of Company obtained by Builder, during the
                term of this Agreement and for a period of: (a) five (5) years following any
                termination or expiration of this Agreement with respect to any Confidential
                Information; and (b) so long as any Trade Secret remains a “Trade Secret” under
                applicable law.  Upon termination of this Agreement, or upon any sooner request
                of Company at any time, all such Confidential Information and Trade Secrets
                held by Builder shall be returned to Company, together with any reproductions,
                abstracts or copies thereof.  “Confidential information” includes items: (i)
                marked “Confidential” or with some similar designation or (ii) confidential or
                proprietary data, documents, materials or information, excluding Trade Secrets,
                which are valuable to Company, and the details of which are not generally known
                to competitors of Company.
            </p>

            <p class=MsoBodyText style='text-align:justify'>13.       <u>Indemnification</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                Builder agrees to indemnify
                Company for all losses caused by Builder’s and/or its employees’, agents’ and
                contractors’ actions, omissions, conduct and/or performance under this
                Agreement.  This indemnification obligation shall survive the termination or
                expiration of this Agreement for any reason whatsoever.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                14.       <u>
                    Relationship
                    between the Parties
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                Builder understands and agrees
                that it is an independent contractor of Company, and neither Builder nor its
                employees are agents or employees of Company.  In addition, Builder and its
                employees will not be treated as employees with respect to the services
                provided pursuant to this Agreement for federal or state tax purposes or for
                any other reason.  This Agreement does not create a franchise, and the Parties
                are not joint venturers or partners.
            </p>

            <p class=MsoBodyText style='text-align:justify'>15.       <u>Taxes/Benefits</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                Because this Agreement creates
                an independent contractor relationship, the Parties understand that Company has
                no obligation to withhold any state or federal income taxes, social security,
                or other taxes from payments to Builder, nor shall it make any workers’
                compensation or unemployment benefit payments, contributions or payroll tax
                payments on behalf of Builder and anyone employed or engaged by Builder.  Builder
                agrees that neither it nor any of its employees shall be entitled to
                participate in any employee benefit plans, retirement, insurance or other
                benefit programs of Company.
            </p>

            <p class=MsoBodyText style='text-align:justify'>16.       <u>Insurance</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                During the term of this
                Agreement, Builder shall purchase and maintain the following insurance
                coverages: (i) business automobile liability insurance, covering owned, hired,
                or non-owned motor vehicles, with a coverage limit not less than U.S.
                $1,000,000 per occurrence; and (ii) commercial general liability insurance with
                contractual liability coverage, with a coverage limit of not less than U.S.
                $2,000,000 per occurrence.  All insurance required hereunder shall be effected
                by valid and enforceable policies issued by insurer(s) of financial
                responsibility and authorized to do business in all necessary jurisdictions. Builder
                liability insurance policies shall name Company and its affiliates and
                subsidiaries as additional insureds.  Builder shall provide Company with at
                least thirty (30) days’ written notice prior to expiration, termination or
                change in any insurance coverage.  Prior to the Effective Date and any renewal
                of such policies, and otherwise on request, Builder shall provide Company with
                customary certificates of insurance evidencing the coverages required by this
                Agreement.  The liability assumed by Builder under this Agreement shall not be
                limited to the insurance coverage stipulated herein.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                17.       <u>
                    Governing Law;
                    Venue
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                This Agreement and all matters
                arising out of or relating to this Agreement or the performance hereof shall be
                governed by and construed in accordance with the laws of New Jersey,
                notwithstanding choice or conflict of law principles in any jurisdiction.  New
                Jersey courts shall have sole jurisdiction in any matters arising out of this
                Agreement.  Each Party consents to the jurisdiction of said courts and waives
                its rights to move said courts to transfer venue of such action or suit, or to
                dismiss such action or suit for lack of personal jurisdiction, improper venue
                or forum non conveniens.
            </p>

            <p class=MsoBodyText style='text-align:justify'>18.       <u>Force Majeure</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                If any Party (a “Non-Performing
                Party”) is prevented from performing, or is unable to perform, any of its
                obligations under this Agreement due to any cause which is beyond the
                Non-Performing Party’s reasonable control and is not the Non-Performing Party’s
                fault (including any act of God or governments, fire, casualty, flood,
                temporary production shortfall, strikes, labor disputes, accidents,
                transportation difficulties, raw materials shortages, natural disasters,
                unavailability of Products, war, terrorist attack, strike, failure of public
                utilities, epidemic, destruction of production facilities, insurrection or any
                other cause beyond the reasonable control of a Non-Performing Party) (any or
                all of the foregoing being defined as “Events of Force Majeure”), and the
                Non-Performing Party uses reasonable efforts to avoid such occurrence and
                minimize its duration and gives prompt written notice to the other Party, then
                the Non-Performing Party’s performance is excused and the time for performance
                extended for the period of delay or inability to perform due to such
                occurrence.  Non-payment of sums due hereunder is not excused due to Events of
                Force Majeure.
            </p>

            <p class=MsoBodyText style='text-align:justify'>19.       <u>Waiver</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                The terms of this Agreement
                cannot be waived except in writing, signed by an authorized representative of
                the Party to be charged therewith.  Waiver by a Party of a breach of any term
                or condition of this Agreement shall not be construed as a waiver of any other
                term or condition or a future waiver of the waived term or condition.  The
                acceptance of any certificate or certification purporting to evidence
                compliance with requirements of this Agreement does not constitute a waiver,
                release or modification of any of such requirements.
            </p>

            <p class=MsoBodyText style='text-align:justify'>20.       <u>Severability</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                Any provision of this Agreement
                which is determined to be invalid or unenforceable will be ineffective to the
                extent of such determination without invalidating the remaining provisions of
                this Agreement.
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                21.       <u>
                    Assignment;
                    Successors and Assigns
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                Neither Party may assign this
                Agreement or its obligations hereunder, by subcontracting, operation of law or
                otherwise, without the prior written consent of the other Party, which consent
                may not be unreasonably withheld; provided that Company may assign its rights
                under this Agreement to any affiliate without the consent of Builder.  Any
                assignment in violation of this Agreement shall be void; provided however that
                this Agreement shall be binding upon and inure to the benefit of Company, Builder
                and their respective permitted successors and assigns.
            </p>

            <p class=MsoBodyText style='text-align:justify'>22.       <u>Attorneys’ Fees</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                In any legal action or
                arbitration or other proceeding arising out of or related to or for the
                enforcement of this Agreement, the successful or prevailing Party or Parties
                shall be entitled to recover reasonable attorneys’ fees and other costs
                incurred in that action or proceeding, in addition to any other relief to which
                it or they may be entitled from the non-prevailing Party.
            </p>

            <p class=MsoBodyText style='text-align:justify'>23.       <u>Notices</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                All notices, consents,
                authorizations or other communications required by this Agreement or otherwise
                shall be in writing, sent to the attention of the Parties at the address set
                forth for such Party on the signature page to this Agreement or at such other
                address as a Party may indicate in writing as herein provided.  Notices shall
                be deemed given on the earlier of the date of receipt or refusal thereof.
            </p>

            <p class=MsoBodyText style='text-align:justify'>24.       <u>Amendments</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                This Agreement cannot be
                amended or modified except in a writing, signed by or on behalf of the Parties
                to this Agreement.
            </p>

            <p class=MsoBodyText style='text-align:justify'>25.       <u>Interpretation</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                Section and paragraph titles
                used in this Agreement are for convenience only and are not a part of the text
                hereof.  References to sections herein refer to sections and to this Agreement
                unless otherwise specified.  This Agreement shall not be more strictly
                construed against any Party, it being mutually agreed that all Parties have
                participated in the preparation and negotiation of this Agreement.  The words
                “include,” “includes” and “including” when used in this Agreement will be
                interpreted as if they were followed by the words “without limitation.”
                Nothing in this Agreement is intended, nor shall be deemed, to confer any
                benefits on any third party, nor shall any such individual or entity have any
                right to seek, enforce or recover any right or remedy with respect hereto.
            </p>

            <p class=MsoBodyText style='text-align:justify'>26.       <u>Counterparts</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                This Agreement may be executed
                in separate counterparts, including by electronic means, each of which when so
                executed and delivered shall be an original for all purposes, but all such counterparts
                together shall constitute one instrument.
            </p>

            <p class=MsoBodyText style='text-align:justify'>27.       <u>Entire Agreement</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                This Agreement, inclusive of
                each Exhibit, all of which are incorporated in this Agreement by this reference
                and form a part hereof, constitutes the complete agreement of the Parties
                relating to the matters specified in this Agreement and supersedes all prior
                and contemporaneous representations or agreements with respect to such matters.
                Without limiting the generality of the foregoing, no legal terms or conditions
                will have any application to this Agreement or any transactions pursuant
                hereto, unless specifically accepted in writing by Company.
            </p>

            <p class=MsoBodyText style='text-align:justify'>28.       <u>Reliance</u></p>

            <p class=MsoBodyText style='text-align:justify'>
                Each Party agrees that the only
                representations upon which it relied are contained within this Agreement and
                its Exhibits.  Each Party hereby expressly disclaims any reliance on any other
                representations outside of this Agreement as any inducement to enter into this
                Agreement.  OTHER THAN AS SET FORTH HEREIN, NEITHER PARTY MAKES ANY OTHER
                REPRESENTATION OR WARRANTY OF ANY KIND, WHETHER EXPRESS, IMPLIED.
            </p>

            <p class=MsoNormal style='text-align:justify'>
                IN WITNESS WHEREOF,
                each Party has caused this Agreement to be properly executed on its behalf as
                of the Effective Date.
            </p>

            <p class=MsoBodyText style='text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='text-align:justify'>
                <u>
                    <span style='text-decoration:
 none'>&nbsp;</span>
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                <u>
                    <span style='text-decoration:
 none'>&nbsp;</span>
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                <u>
                    <span style='text-decoration:
 none'>&nbsp;</span>
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                <u>
                    <span style='text-decoration:
 none'>&nbsp;</span>
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                <u>
                    <span style='text-decoration:
 none'>&nbsp;</span>
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                <u>
                    <span style='text-decoration:
 none'>&nbsp;</span>
                </u>
            </p>

            <p class=MsoBodyText style='text-align:justify'>
                <u>
                    Company: AS AMERICA, INC.,
                    d/b/a American Standard Brands
                </u>
            </p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>_____________________________</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'>Brady Walker</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'>Leader – Builder Sales</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'>30 Knightsbridge Road, Suite 301</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'>Piscataway, NJ 08854</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'><a href="mailto:Bob.downie@lixil.com">brady.walker@lixil.com</a></p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'>&nbsp;</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'>&nbsp;</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>_____________________________</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'>Ketan Patel</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'>Leader - Finance</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'>30 Knightsbridge Road, Suite 301</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'>Piscataway, NJ 08854</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'><a href="mailto:Neil.dalal@lixil.com">ketan.patel@lixil.com</a> </p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify'>&nbsp;</p>

            <p class=MsoBodyText style='text-align:justify'><u>Builder: <b>@Model.FirstName @Model.LastName</b> </u></p>

            <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'><b>@Model.PhoneNumber</b></p>

        <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'><b>@Model.Address</b></p>

        <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'><b>@Model.City, @Model.State, @Model.Zip</b></p>

        <p class=MsoBodyText style='margin-bottom:0in;text-align:justify;text-indent:
40.5pt'><b>@Model.Email</b> </p>

        <p class=MsoNormal>&nbsp;</p>

        </div>
    </div>

    <button onclick="location.href = '@Url.Action("DownloadPDF", "Users", new {builderId = Model.BuilderId})'">Create Contract</button>

</body>

</html>

