﻿@model LixilRebate.ViewModels.ContractDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContractDetails</title>
</head>
<body class="layout-fixed sidebar-collapse layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper ">
        <div class="content-wrapper">
            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <h3 class="form_headline mt-2 mb-3">Contract Details</h3>


                            <div class="card">
                                @using (Html.BeginForm("ContractDetails", "Users", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.ContractId)
                                <div class="card-body">
                                    <div class="row">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="col-md-12 mb-2">
                                            <table class="table table-striped table-bordered">
                                                <tr>
                                                    <th>Contract Created Date</th>
                                                </tr>
                                                <tr>
                                                    <td>@Model.DateString</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <table class="table table-striped table-bordered">
                                                <tr>
                                                    <th>@Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" })</th>
                                                    <th> @Html.Label("Name", htmlAttributes: new { @class = "control-label" })</th>
                                                    <th> @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })</th>
                                                    <th>@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })</th>
                                                    <th>@Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })</th>

                                                </tr>

                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(m => m.CompanyName)
                                                        @Html.HiddenFor(m => m.CompanyName)
                                                    </td>
                                                    <td>

                                                        @Html.DisplayFor(m => m.FirstName)
                                                        @Html.DisplayFor(m => m.LastName)
                                                        @Html.HiddenFor(m => m.FirstName)
                                                        @Html.HiddenFor(m => m.LastName)
                                                    </td>
                                                    <td>

                                                        @Html.DisplayFor(m => m.PhoneNumber)
                                                        @Html.HiddenFor(m => m.PhoneNumber)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => m.City)
                                                        @Html.HiddenFor(m => m.City)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => m.State)
                                                        @Html.HiddenFor(m => m.State)
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.AnnualNoOfHomes, htmlAttributes: new { @class = "" })

                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(m => m.AnnualHomes)
                                                            @Html.HiddenFor(m => m.AnnualNoOfHomes)
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.WebsiteURL, htmlAttributes: new { @class = "" })

                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(m => m.WebsiteURL)
                                                            @Html.HiddenFor(m => m.WebsiteURL)
                                                    </tr>

                                                    <tr>
                                                        <td style="width: 50%">
                                                            @Html.LabelFor(model => model.PlumbManufacturePartners, htmlAttributes: new { @class = "" })

                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(m => m.PlumbManufacturePartners)
                                                            @Html.HiddenFor(m => m.PlumbManufacturePartners)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.PlumbWholesalePartners, htmlAttributes: new { @class = "" })

                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(m => m.PlumbWholesalePartners)
                                                            @Html.HiddenFor(m => m.PlumbWholesalePartners)
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">

                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50%">
                                                            @Html.LabelFor(model => model.AvgPriceUnit, htmlAttributes: new { @class = "" })
                                                        </td>
                                                        <td>

                                                            $@Html.DisplayFor(m => m.AvgPriceUnit)
                                                            @Html.HiddenFor(m => m.AvgPriceUnit)
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width: 50%">
                                                            @Html.LabelFor(model => model.PercentPlumbingUpgrades, htmlAttributes: new { @class = "" })
                                                        </td>
                                                        <td>

                                                            @Html.DisplayFor(m => m.PercentPlumbingUpgrades)%
                                                            @Html.HiddenFor(m => m.PercentPlumbingUpgrades)
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width: 50%">
                                                            @Html.LabelFor(model => model.InstallationPlumb, htmlAttributes: new { @class = "" })
                                                        </td>
                                                        <td>

                                                            @Html.DisplayFor(m => m.InstallationPlumb)
                                                            @Html.HiddenFor(m => m.InstallationPlumb)
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td width="50%">
                                                            @Html.LabelFor(model => model.ProductCategories, htmlAttributes: new { @class = "" })
                                                        </td>
                                                        <td>
                                                            @if (Model != null && Model.ProductCategories != null)
                                                            {
                                                                //string.Join(",", Model.ProductCategories);
                                                                var lis = string.Join(", ", Model.ProductCategories);
                                                                <span>@lis</span>
                                                            }
                                                            @Html.HiddenFor(m => m.ProductCategories)
                                                        </td>

                                                    </tr>


                                                    <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.ContractStatus, htmlAttributes: new { @class = "" })
                                                        </td>
                                                        <td>
                                                            @if (ViewBag.Status == "Pending" || (ViewBag.Status == "Unsigned" && Request.Cookies["Role"].Value.ToString() == "2"))
                                                            {
                                                                @Html.DropDownListFor(model => model.ContractStatus, new SelectList(new List<SelectListItem> {
         new SelectListItem { Text = "Approved", Value = "2"},
         new SelectListItem { Text = "Denied", Value = "3"}
     }, "Value", "Text"),
"Select",

                                             new { @class = "form-control" })
                                                            }
                                                            else
                                                            {
                                                                string s = "";
                                                                if (Model.ContractStatus == "1")
                                                                {
                                                                    s = "Pending";
                                                                }
                                                                else if (Model.ContractStatus == "2")
                                                                {
                                                                    s = "Approved";
                                                                }
                                                                else { s = "Denied"; }
                                                                <span>@s</span>
                                                            }
                                                            @Html.ValidationMessageFor(model => model.ContractStatus, "", new { @class = "text-danger" })
                                                        </td>
                                                    </tr>

                                                    <tr id="dvReasn" style="@(Model.ContractStatus == "3" ? "display:block" : "display:none")">
                                                        <td>
                                                            @Html.Label("Reason for Denied", htmlAttributes: new { @class = "control-label col-md-8" })
                                                        </td>
                                                        <td>
                                                            @Html.TextAreaFor(m => m.ReasonDenied, new { rows = 3, value = Model.ReasonDenied, @class = "form-control" })
                                                            @Html.HiddenFor(m => m.ReasonDenied)
                                                        </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    @if (ViewBag.Status == "Pending" || ViewBag.Status == "Unsigned" && Request.Cookies["Role"].Value.ToString() == "2")
                                    {
                                        <div class="row mt-3" id="fileupload">
                                            <div class="col-md-12">
                                                <div class="col-md-6 mb-3">

                                                    <div class="form-group">
                                                        <label for="exampleInputFile">Upload Signed Agreement</label>
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                                @*<input type="file" class="custom-file-input" id="exampleInputFile">*@
                                                                @Html.TextBoxFor(model => model.SignedAgreement, new { @class = "custom-file-input", @type = "file", id = "exampleInputFile" })
                                                                <label class="custom-file-label" for="exampleInputFile"></label>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.SignedAgreement, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (Model.AgreementString != "" && Model.AgreementString != null)
                                    {
                                        <p>@Html.ActionLink("View Agreement", "ShowPdf", "Users", new { fileName = Model.AgreementString }, null)</p>
                                    }

                                    @if (ViewBag.Status == "Pending" || ViewBag.Status == "Unsigned" && Request.Cookies["Role"].Value.ToString() == "2")
                                    {
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button type="submit" id="btnSubmit" class="btn btn-info">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                                }

                                <div style="clear: both;"></div>
                            </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>



    </body>
</html>

<script>
    $("#ContractStatus").change(function () {
        if ($("#ContractStatus option:selected").text() == "Denied")
            $('#dvReasn').show();
        else $('#dvReasn').hide();
    });



    $(".custom-file-input").on("change", function () {
        debugger
        var filename = $('input[type=file]')[0].files.length ? $('input[type=file]')[0].files[0].name : "";
        if (filename != "")
            $('.custom-file-label').html(filename);
        else
            $('.custom-file-label').html("Choose files");
    });


</script>
