﻿@model LixilRebate.ViewModels.RebateList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var m = Model;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rep DataTables</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
        <link rel="stylesheet" href="../../dist/css/adminlte.min.css">*@

    <style>
        .dataTables_wrapper .dt-buttons {
            float: right;
            text-align: right;
        }
    </style>
</head>
<body class="layout-fixed sidebar-collapse">

    <div class="wrapper">
        <!-- Navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @*<div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0"></h1>
                            </div> /.col
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                    <li class="breadcrumb-item">Pending Rep Approval</li>

                                </ol>
                            </div> /.col
                        </div> /.row
                    </div> /.container-fluid
                </div>*@

            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h3></h3>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div><!-- /.container-fluid -->
            <!-- Main content -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header" style="padding:0">
                                <h3 class="card-title"></h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Contract Completed</th>
                                            <th>Type</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.contractslist != null)
                                        {
                                            foreach (var tr in Model.contractslist)
                                            {
                                                <tr>
                                                    <td>@tr.CompanyName</td>
                                                    <td>@tr.City</td>
                                                    <td> @tr.State</td>
                                                    <td>@tr.ModifiedDate.Value.ToString("MM/dd/yyyy")</td>
                                                    <td>Select</td>
                                                    <td><a href="@Url.Action("BuilderDetails", "Users", new { id = tr.BuilderId, roleid="2", edit=1 })">Edit</a></td>
                                                </tr>
                                            }
                                        }

                                        @if (Model != null && Model.builderslist != null)
                                        {
                                            foreach (var tr in Model.builderslist)
                                            {
                                                <tr>
                                                    <td>@tr.CompanyName</td>
                                                    <td>@tr.City</td>
                                                    <td> @tr.State</td>
                                                    <td>--</td>
                                                    <td>Rewards</td>
                                                    <td><a href="@Url.Action("BuilderDetails", "Users", new { id = tr.BuilderId, roleid="2", edit=1 })">Edit</a></td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <script>
        $(function () {

            $("#example1").DataTable({
                "responsive": false, "lengthChange": false, "autoWidth": false,
                "searching": true,
                "buttons": ["excel"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(1) ');

        });</script>
</body>
</html>
