﻿

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LIXIL Builder Rebate </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/theme.css">*@

</head>
<body class="layout-fixed sidebar-collapse layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper ">

        <!-- Navbar -->
       
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!--.content-header -->

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0"></h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"></li>

                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row mb-3">

                        <div class="col-lg-9"></div>
                        <div class="col-lg-3" style="@(Request.Cookies["Role"].Value.ToString() == "2" ? "display:block" : "display:none")">
                            <!-- small box -->
                           

                            <button type="button" class="btn btn-info btn-block" onclick="location.href='@Url.Action("AddRebateByRep", "Users")'">Enter Rebate for Builder</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-6" style="@(Request.Cookies["Role"].Value.ToString() == "2" ? "display:block" : "display:none")" onclick="@Url.Action("BuildersGrid", "Users", new { roleid = "2" })">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (ViewBag.repcount != null)
                                    {
                                        <h3>@ViewBag.repcount<span>qty</span></h3>
                                    }
                                    else
                                    { <h3>0<span>qty</span></h3>}
                                    
                                    <p>Builder Approval Pending</p>
                                </div>

                                <a href="@Url.Action("BuildersGrid", "Users", new { roleid = "2" })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->

                        <div class="col-lg-4 col-6" style="@(Request.Cookies["Role"].Value.ToString() == "4" ? "display:none" : "display:block")">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (ViewBag.mancount != null)
                                    {
                                        <h3>@ViewBag.mancount<span>qty</span></h3>
                                    }
                                    else
                                    { <h3>0<span>qty</span></h3>}
                                   
                                    <p>Manager Approval</p>
                                </div>

                                <a href="@Url.Action("BuildersGrid", "Users", new { roleid = "3" })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->

                        <div class="col-lg-4 col-6" onclick="@Url.Action("BuildersGrid", "Users", new { roleid = 4 })">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (ViewBag.fincount != null)
                                    {
                                        <h3>@ViewBag.fincount<span>qty</span></h3>
                                    }
                                    else
                                    { <h3>0<span>qty</span></h3>}
                                    
                                    <p>Finance Approval</p>
                                </div>

                                <a href="@Url.Action("BuildersGrid", "Users", new { roleid = "4" })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (ViewBag.unsignedcnt != null)
                                    {
                                        <h3>@ViewBag.unsignedcnt<span>qty</span></h3>
                                    }
                                    else
                                    { <h3>0<span>qty</span></h3>}
                                  
                                    <p>Pending Contracts </p>
                                </div>

                                <a href="@Url.Action("UnsignedContracts", "Users")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-6" style="@(Request.Cookies["Role"].Value.ToString() == "2" || Request.Cookies["Role"].Value.ToString() == "6" ? "display:none" : "display:block")">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (ViewBag.pensignedcnt != null)
                                    {
                                        <h3>@ViewBag.pensignedcnt<span>qty</span></h3>
                                    }
                                    else
                                    { <h3>0<span>qty</span></h3>}
                                   
                                    <p>Pending Signed Contracts </p>
                                </div>

                                <a href="@Url.Action("ContractsGrid", "Users")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <!-- ./col -->
                        <div class="col-lg-4 col-6" onclick=" href="@Url.Action("ApprovedContracts", "Users")">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (ViewBag.appcontrcnt != null)
                                    {
                                        <h3>@ViewBag.appcontrcnt<span>qty</span></h3>
                                    }
                                    else
                                    { <h3>0<span>qty</span></h3>}
                                   
                                    <p>Approved/Active Signed Contracts </p>
                                </div>

                                <a href="@Url.Action("ApprovedContracts", "Users")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <!-- ./col -->
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (ViewBag.dencontrcnt != null)
                                    {
                                        <h3>@ViewBag.dencontrcnt<span>qty</span></h3>
                                    }
                                    else
                                    { <h3>0<span>qty</span></h3>}
                                   
                                    <p>Denied/Cancelled Signed Contracts </p>
                                </div>

                                <a href="@Url.Action("DeniedContracts", "Users")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-4 col-6" style="@(Request.Cookies["Role"].Value.ToString() == "4" ? "display:none" : "display:block")">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (ViewBag.expiry3cnt != null)
                                    {
                                        <h3>@ViewBag.expiry3cnt<span>qty</span></h3>
                                    }
                                    else
                                    { <h3>0<span>qty</span></h3>}
                                    <p>Contracts Expiring within 90 Days  </p>
                                </div>

                                <a href="@Url.Action("ExpiringContracts", "Users", new { period = 90 })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->


                        <div class="col-lg-4 col-6" style="@(Request.Cookies["Role"].Value.ToString() == "4" ? "display:none" : "display:block")">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (ViewBag.expiry6cnt != null)
                                    {
                                        <h3>@ViewBag.expiry6cnt<span>qty</span></h3>
                                    }
                                    else
                                    { <h3>0<span>qty</span></h3>}
                                    
                                    <p>Contracts Expiring within 180 Days </p>
                                </div>

                                <a href="@Url.Action("ExpiringContracts", "Users", new { period = 180 })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->


                        <div class="col-lg-4 col-6" style="@(Request.Cookies["Role"].Value.ToString() == "2" ? "display:block" : "display:none")">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    @if (ViewBag.editcnt != null)
                                    {
                                        <h3>@ViewBag.editcnt<span>qty</span></h3>
                                    }
                                    else
                                    { <h3>0<span>qty</span></h3>}
                                   

                                    <p>Edit/Change Approved Contracts Select/Rewards </p>
                                </div>

                                <a href="@Url.Action("EditContracts", "Users")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->

                    </div>
                    <!-- /.row -->

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>


    </div>
    <!-- ./wrapper -->



</body>
</html>



