﻿@model LixilRebate.ViewModels.StatusProgressViewModel


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <!-- Small boxes (Stat box) -->

            <div class="row">

                <div class="col-md-12 ">
                    <h3 class="form_headline mt-2 mb-3">
                    </h3>

                </div>
            </div>
            @*<div class="progress-group">
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-primary" style="width: 50%"></div>
                    </div>
                </div>*@


            <div class="card" style="height: 500px;">

                <div style="padding-top: 10%;" class="text-center">

                    <div>


                        @if (Model.BuilderStatusId > 0)
                        {
                            var rebateType = Model.Type;

                            if (!((Model.BuilderStatusId == 2 && Model.RegistrationModifiedBy == 3) || (Model.BuilderStatusId == 2 && rebateType == 2 && Model.RegistrationModifiedBy == 4)))
                            {
                                <p>Your registration request was received on <strong>@Model.RegistrationSubmitted.ToString("MM/dd/yyyy")</strong></p>
                            }

                            var modifiedDate = "";

                            if (Model.RegistrationModified != null)
                            {
                                modifiedDate = Model.RegistrationModified.Value.ToString("MM/dd/yyyy");
                            }

                            if (Model.BuilderStatusId == 1)
                            {
                                <div style="width:50%; margin:0px auto;">
                                    <p>Registration Progress : </p>
                                    <div class="progress-group">
                                        0%
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary" style="width:0%"></div>
                                        </div>
                                    </div>
                                </div>
                            }

                            if (rebateType != null)
                            {
                                if (Model.BuilderStatusId == 2 && Model.RegistrationModifiedBy == 2)
                                {
                                    <div style="width:50%; margin:0px auto;">
                                        <p>Registration Progress : </p>

                                        @if (rebateType == 2)
                                        {
                                            <div class="progress-group">
                                                33%
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-primary" style="width:33%"></div>
                                                </div>
                                            </div>
                                        }
                                        else if (rebateType == 1)
                                        {
                                            <div class="progress-group">
                                                50%
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-primary" style="width:50%"></div>
                                                </div>
                                            </div>
                                        }

                                        <span style="color:yellow;background:black;">Approved By Rep on <strong>@modifiedDate</strong></span>
                                    </div>
                                }
                                else if (Model.BuilderStatusId == 2 && Model.RegistrationModifiedBy == 3)
                                {


                                    if (rebateType == 2)
                                    {
                                        <div style="width:50% ; margin:0px auto;">
                                            <p>Your registration request was received on <strong>@Model.RegistrationSubmitted.ToString("MM/dd/yyyy")</strong></p>
                                            <p>Registration Progress : </p>
                                            <div class="progress-group">
                                                67%
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-primary" style="width:67%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                         <span style="color:yellow;background:black;">Approved By Rep and Manager on <strong>@modifiedDate</strong></span>
                                    }
                                    @*else if (rebateType == 1)
                                        {
                                            <div class="progress-group">
                                                100%
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-primary" style="width:100%"></div>
                                                </div>
                                            </div>

                                        }*@

                                   

                                }

                                else if (Model.BuilderStatusId == 2 && rebateType == 2 && Model.RegistrationModifiedBy == 4)
                                {
                                    <div style="width:50% ; margin:0px auto;">


                                        @if (Model.ContractSubmitted == null)
                                        {
                                            <p>Your Contract request was not received yet.</p>

                                            @*<p>Contract Progress : </p>
                                                <div class="progress-group">
                                                    0%
                                                    <div class="progress progress-sm">0
                                                        <div class="progress-bar bg-primary" style="width:0%"></div>
                                                    </div>
                                                </div>*@
                                        }
                                        else if (Model.ContractSubmitted != null)
                                        {
                                            if (Model.ContractModifiedBy != 4 && Model.ContractStatusId != 2)
                                            {
                                                <p>Your Contract request was received on <strong>@Model.ContractSubmitted.Value.ToString("MM/dd/yyyy")</strong></p>

                                                <p>Contract Progress : </p>
                                            }

                                            if (Model.ContractModifiedBy == 1 || Model.ContractStatusId == 1)
                                            {

                                                <div class="progress-group">
                                                    0%
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-primary" style="width:0%"></div>
                                                    </div>
                                                </div>
                                            }
                                            else if (Model.ContractModifiedBy == 2 && Model.ContractStatusId == 2)
                                            {
                                                <div class="progress-group">
                                                    33%
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-primary" style="width:33%"></div>
                                                    </div>
                                                </div>
                                                if (Model.ContractModified != null)
                                                {
                                                    <span style="color:yellow;background:black;">Your Contract was Approved by Rep on @Model.ContractModified.Value.ToString("MM/dd/yyyy")</span>
                                                }
                                            }
                                            else if (Model.ContractModifiedBy == 3 && Model.ContractStatusId == 2)
                                            {
                                                <div class="progress-group">
                                                    67%
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-primary" style="width:67%"></div>
                                                    </div>
                                                </div>
                                                if (Model.ContractModified != null)
                                                {
                                                    <span style="color:yellow;background:black;">Your Contract was Approved by Manager on @Model.ContractModified.Value.ToString("MM/dd/yyyy")</span>
                                                }
                                            }
                                            else if(Model.ContractModifiedBy == 2 && Model.ContractStatusId == 3)
                                            {
                                               <div>
                                                    <span>Your Contract is <strong style="color:red;">Denied</strong> by Rep.</span>
                                               </div>
                                            }
                                            else if(Model.ContractModifiedBy == 3 && Model.ContractStatusId == 3)
                                            {
                                               <div>
                                                    <span>Your Contract is <strong style="color:red;">Denied</strong> by Manager.</span>
                                               </div>
                                            }
                                            else if(Model.ContractModifiedBy == 4 && Model.ContractStatusId == 3)
                                            {
                                                <div>
                                                    <span>Your Contract is <strong style="color:red;">Denied</strong> by Finance.</span>
                                                </div>                                                
                                            }
                                            @*else if (Model.ContractModifiedBy == 4 && Model.ContractStatusId == 2)
                                                {
                                                    <div class="progress-group">
                                                        100%
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-primary" style="width:100%"></div>
                                                        </div>
                                                    </div>
                                                    if (Model.ContractModified != null)
                                                    {
                                                        <span style="color:yellow;background:black;">Your Contract was Approved by Finance on @Model.ContractModified.Value.ToString("MM/dd/yyyy")</span>
                                                    }
                                                }*@





                                            @*<span style="color:yellow;background:black;">Your Contract was Submitted on @modifiedDate</span>*@
                                        }

                                    </div>
                                }

                                else if (Model.BuilderStatusId == 3 && Model.RegistrationModifiedBy == 2)
                                {
                                    <div>
                                        <span>Your registration is <strong style="color:red;">Denied</strong> by Rep.</span>
                                    </div>
                                }

                                else if (Model.BuilderStatusId == 3 && Model.RegistrationModifiedBy == 3)
                                {
                                    <div>
                                        <span>Your registration is <strong style="color:red;">Denied</strong> by Manager.</span>
                                    </div>
                                }

                                else if (Model.BuilderStatusId == 3 && Model.RegistrationModifiedBy == 4)
                                {
                                    <div>
                                        <span>Your registration is <strong style="color:red;">Denied</strong> by Finance.</span>
                                    </div>
                                }

                                if ((Model.BuilderStatusId == 2 && Model.RegistrationModifiedBy == 3 && rebateType == 1) || (Model.BuilderStatusId == 2 && Model.ContractStatusId == 2 && Model.ContractModifiedBy == 4 && rebateType == 2))
                                {
                                    <div class="mt-5">
                                        @if (rebateType == 1)
                                        {
                                            <a class="btn btn-info btn-lg mr-5" href="@Url.Action("RebateForRewards","builder")">Enter Rebate For Rewards</a>
                                            <a href="@Url.Action("RebateStatusForRewards","Builder")" class="btn btn-secondary btn-lg">View Rebate Status</a>
                                        }
                                        else if (rebateType == 2)
                                        {
                                            if (Model.IsContractDateExpired == true)
                                            {
                                                <p style="color:red;">Your Contract has been expired.</p>
                                            }
                                            else
                                            {
                                                <a class="btn btn-info btn-lg mr-5" href="@Url.Action("RebateForSelect","builder")">Enter Rebate For Select</a>
                                                <a href="@Url.Action("RebateStatusForSelect","Builder")" class="btn btn-secondary btn-lg">View Rebate Status</a>
                                            }

                                        }
                                    </div>

                                }
                            }

                            @*<p>Your registration is currently – approved (date), denied (date), in progress (date)</p>
                                <p>Your contract progress – sent (date), signed by builder (date), signed by Lixil (date), signed by finance (date)</p>
                                <p> Your executed agreement – access to executed agreement</p>*@
                        }





                    </div>
                    @*<div class="mt-5">

                            <a href="@Url.Action("RebateForRewards","Builder")" class="btn btn-info btn-lg mr-5">Enter Rebate</a>

                            <a href="@Url.Action("InvoiceInformation","Builder")" class="btn btn-secondary btn-lg">View Rebate Status</a>
                        </div>*@

                </div>
                <div style="clear: both;"></div>
            </div>

            <!-- /.row -->


        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
