﻿@model IEnumerable<LixilRebate.ViewModels.InvoiceProductViewModel>


<body class="layout-fixed sidebar-collapse">
    <div class="wrapper ">

        <!-- Navbar -->
       
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <h3 class="form_headline mt-2 mb-3"> Invoice Information</h3>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="text-center">Invoice : @ViewBag.InvoiceNumber</h5>
                                            <p class="text-center">Submitted: @ViewBag.SubmittedDate </p>
                                        </div>
                                        <div class="col-md-12 mb-2">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>Invoice Date:</th>
                                                    <th>Product Number</th>
                                                    <th>Manufacturer</th>
                                                    <th>Quantity</th>
                                                </tr>
                                                @foreach (var invoiceProduct in Model)
                                                {
                                                    <tr>
                                                        <td>@invoiceProduct.InvoiceDate</td>
                                                        <td>@invoiceProduct.ProductNumber</td>
                                                        <td>@invoiceProduct.Manufacturer</td>
                                                        <td>@invoiceProduct.Quantity</td>
                                                    </tr>
                                                }

                                            </table>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-md-12 mb-2">
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-3 col-form-label">
                                                    Invoices
                                                    Approved/Denied : @ViewBag.Status
                                                </label>

                                            </div>
                                            @if (@ViewBag.Status == "Denied")
                                            {
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">
                                                        Reason For Denied : @ViewBag.Reason
                                                    </label>
                                                    
                                                </div>
                                            }
                                         </div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </div>

                    <!-- /.row -->


                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
       


    </div>
    <!-- ./wrapper -->

    

</body>



