﻿@model IEnumerable<LixilRebate.ViewModels.RebateSelectViewModel>

@*@{
        ViewBag.Title = "RebateStatusForSelect";
    }*@

<body class="layout-fixed sidebar-collapse">
    <div class="wrapper ">

        <!-- Navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <h3 class="form_headline mt-2 mb-3">View Rebate Status</h3>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-12 mb-2">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>Order Number</th>
                                                    <th>Rebate Submitted</th>
                                                    <th>Status</th>
                                                    <th>Approved/Denied Date</th>
                                                    <th>Dollar Estimated</th>
                                                    <th>Dollar Approved</th>
                                                </tr>
                                                @foreach (var rebate in Model)
                                                {
                                            <tr>
                                                <td>
                                                    <a href="@Url.Action("SelectInvoiceInformation","Builder",new { orderNumber = rebate.OrderNumber})">@rebate.OrderNumber</a>
                                                </td>
                                                <td>@rebate.CreatedDate.Value.ToString("MM/dd/yyyy")</td>
                                                <td>@rebate.Status</td>
                                                @if (rebate.ApprovedorDeniedDate != null)
                                                {
                                                    <td>@rebate.ApprovedorDeniedDate.Value.ToString("MM/dd/yyyy")</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }
                                                @if(rebate.DollarEstimated != null)
                                                {
                                                    <td>$@rebate.DollarEstimated</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }
                                                <td>@rebate.ApprovedAmount</td>
                                            </tr>
                                                }

                                            </table>
                                        </div>
                                    </div>
                                    @*<div class="row mt-5">
                                            <div class="col-md-12 mb-2">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">
                                                        Invoices
                                                        Approved/Denied:
                                                    </label>
                                                    <div class="col-sm-9 pt-2">
                                                        @ViewBag.Status
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </div>

                    <!-- /.row -->


                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->



    </div>
    <!-- ./wrapper -->



</body>

