﻿@model LixilRebate.ViewModels.RebateSelectViewModel


<!DOCTYPE html>
<html lang="en">


<body class="layout-fixed sidebar-collapse">
    <div class="wrapper ">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container">


                    <div class="row">

                        <div class="col-md-12 ">
                            <h3 class="form_headline mt-2 mb-3">Enter Rebate for Select</h3>


                            <div class="card">

                                <div class="card-body">
                                    @using (Html.BeginForm("RebateForSelect", "Builder", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="row">

                                            <div class="col-md-3 mb-2">
                                                <div class="form-group">
                                                    <label><sup>*</sup>Subdivision Name </label>
                                                    @Html.EditorFor(model => model.SubDivisionName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SubDivisionName, "", new { @class = "text-danger" })
                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>


                                            <div class="col-md-3 mb-2">
                                                <div class="form-group">
                                                    <label>
                                                        <sup>*</sup>Lot #:
                                                    </label>
                                                    @Html.EditorFor(model => model.Lot_, new { htmlAttributes = new { @class = "form-control", @type = "number",@min = "1" } })
                                                    @Html.ValidationMessageFor(model => model.Lot_, "", new { @class = "text-danger" })
                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>



                                            <div class="col-md-3 mb-2">
                                                <div class="form-group">
                                                    <label>
                                                        <sup>*</sup>Per Home Rebate:
                                                    </label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">$</span>
                                                        </div>
                                                        @Html.EditorFor(model => model.PerHomeRebate, new { htmlAttributes = new { @class = "form-control", @type = "number",@min = "1"} })

                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.PerHomeRebate, "", new { @class = "text-danger" })
                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>

                                            <div class="col-md-3 mb-2">
                                                <div class="form-group">
                                                    <label for="inputName">
                                                        <sup>*</sup>Closing Statement Date:
                                                    </label>
                                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                                        @Html.EditorFor(model => model.ClosingStatementDate, new { htmlAttributes = new { @class = "form-control", @id = "closingDate" } })

                                                        <div class="input-group-append" data-target="#reservationdate"
                                                             data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                        </div>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.ClosingStatementDate, "", new { @class = "text-danger" })
                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>

                                        </div>




                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <div class="col-md-6 mb-3">
                                                    <div class="form-group">
                                                        <label for="exampleInputFile"><sup>*</sup>Upload Closing Statement </label>
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                                @Html.TextBoxFor(model => model.InvoiceFile, "", new { @class = "custom-file-input", @type = "file", @multiple = "multiple" })
                                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                            </div>

                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.InvoiceFile, "", new { @class = "text-danger" })
                                                    </div>
                                                    <!-- <div class="error_msg">Required</div> -->
                                                </div>

                                            </div>


                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-secondary">Submit</button>
                                            </div>
                                        </div>



                                    }
                                </div>
                                <div style="clear: both;"></div>
                            </div>

                        </div>

                    </div>

                    <!-- /.row -->


                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->



    </div>
    <!-- ./wrapper -->

</body>

</html>

@*<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="~/plugins/select2/js/select2.full.min.js"></script>*@





<script>

    $(document).ready(function () {

        $('#reservationdate').datetimepicker({
            format: 'L',
            maxDate:'now',
            endDate:'+0d',
            ignoreReadonly: true,
            autoclose: true,
        });
    });

    $(".custom-file-input").on("change", function () {
        var files = $(this)[0].files.length;
        if (files > 0)
            $('.custom-file-label').html("" + files + " file(s) selected");
        else
            $('.custom-file-label').html("Choose files");
    });

</script>


