﻿@model LixilRebate.ViewModels.RebateRedemptionViewModel


<!DOCTYPE html>
<html lang="en">


<body class="layout-fixed sidebar-collapse">
    <div class="wrapper ">

        <!-- Navbar -->
       
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container">


                    <div class="row">

                        <div class="col-md-12 ">
                            <h3 class="form_headline mt-2 mb-3">Rebate Redemption  </h3>


                            <div class="card">

                                <div class="card-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="row">

                                            <div class="col-md-4 mb-2">
                                                <div class="form-group">
                                                    <label><sup>*</sup>Name Funds Should be sent to:    </label>
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>

                                        </div>

                                        <div class="row mt-3">

                                            <div class="col-md-12">
                                                <p>Address to ship Rebate:</p>
                                                <hr />

                                            </div>


                                            <div class="col-md-4 mb-2">
                                                <div class="form-group">
                                                    <label>
                                                        <sup>*</sup>Address
                                                    </label>
                                                    @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>



                                            <div class="col-md-4 mb-4">
                                                <div class="form-group">
                                                    <label>
                                                       Address 2
                                                    </label>
                                                    @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <div class="form-group">
                                                    <label>
                                                        <sup>*</sup>City
                                                    </label>
                                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <div class="form-group">
                                                    <label for="inputSize"><sup>*</sup>State</label><br/>
                                                    @Html.DropDownListFor(model => model.State, (IEnumerable<SelectListItem>)ViewBag.States, "--- Select State ---", new { @class = "select2 form-control" })<br/>
                                                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <div class="form-group">
                                                    <label for="inputName">
                                                        <sup>*</sup>Zip
                                                    </label>
                                                    @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                                    @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>


                                            <div class="col-md-8 mb-4">
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        @Html.CheckBoxFor(model => model.IsAutorized, new { htmlAttributes = new { @class = "form-control" } })
                                                        <label class="form-check-label">
                                                            I understand that I am authorized by my company to receive and request the Lixil Builder Rebate
                                                        </label>
                                                        <br/>
                                                        @Html.ValidationMessageFor(model => model.IsAutorized, "", new { @class = "text-danger" })
                                                    </div>


                                                </div>
                                                <!-- <div class="error_msg">Required</div> -->
                                            </div>

                                        </div>






                                        <div class="row mt-3">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-secondary">Submit</button>
                                            </div>
                                        </div>



                                    }

                                </div>
                                <div style="clear: both;"></div>
                            </div>

                        </div>

                    </div>

                    <!-- /.row -->


                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        

    </div>
    <!-- ./wrapper -->

    

</body>

</html>

<script src="~/plugins/select2/js/select2.full.min.js"></script>

<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()
    });
</script>