﻿@model LixilRebate.ViewModels.RebateRewardsViewModel

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container">


            <div class="row">

                <div class="col-md-12 ">
                    <h3 class="form_headline mt-2 mb-3">
                        Enter Rebate for Rewards
                    </h3>

                    @using (Html.BeginForm("RebateForRewards", "Builder", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
                    {
                        <div class="card">

                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-3 mb-2">
                                        <div class="form-group">
                                            <label for="inputName"><sup>*</sup>Distributor Invoice Date:</label>
                                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                                @*<input type="text" class="form-control datetimepicker-input"
                                                       data-target="#reservationdate" />*@
                                                @if(Model.DistributorInvoiceDate == null)
                                                {
                                                     @Html.EditorFor(model => model.DistributorInvoiceDate, new { htmlAttributes = new { @class = "form-control datetimepicker-input" } })
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.DistributorInvoiceDate, new { htmlAttributes = new { @class = "form-control datetimepicker-input",disabled = true } })
                                                    @Html.HiddenFor(model => model.DistributorInvoiceDate);
                                                }

                                                <div class="input-group-append" data-target="#reservationdate"
                                                     data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.DistributorInvoiceDate, "", new { @class = "text-danger" })
                                        </div>
                                        <!-- <div class="error_msg">Required</div> -->
                                    </div>


                                    <div class="col-md-3 mb-2">
                                        <div class="form-group">
                                            <label for="inputName">
                                                <sup>*</sup>Distributor Invoice Number:
                                            </label>
                                            @*<input type="text" class="form-control">*@
                                            @if (Model.DistributorInvoiceNumber == null)
                                            {
                                                @Html.EditorFor(model => model.DistributorInvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            }
                                            else
                                            {
                                                @Html.EditorFor(model => model.DistributorInvoiceNumber, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                                @Html.HiddenFor(model => model.DistributorInvoiceNumber);
                                            }
                                            @Html.ValidationMessageFor(model => model.DistributorInvoiceNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <!-- <div class="error_msg">Required</div> -->
                                    </div>

                                    @*<div class="col-md-3 mb-2">                                       

                                        <div class="form-group">
                                            <label><sup>*</sup>Manufacturer</label>
                                            @Html.DropDownListFor(model => model.MfgName, (IEnumerable<SelectListItem>)ViewBag.Manufacturers, "-- Select Manufacturer --", new { @class = "select2", @style = "width: 100%;" })
                                            @Html.ValidationMessageFor(model => model.MfgName, "", new { @class = "text-danger" })
                                        </div>*@
                                        <!-- <div class="error_msg">Required</div> -->

                                    @*</div>*@

                                    <div class="col-md-3 mb-2">
                                        @*<div class="form-group">
                                            <label for="inputName">
                                                <sup>*</sup>Lixil Product Purchased:
                                            </label>*@
                                            @*<input type="text" class="form-control">*@
                                            @*@Html.EditorFor(model => model.ProductNumber, new { htmlAttributes = new { @class = "form-control", @id = "product" } })
                                        </div>*@

                                        <div class="form-group">
                                            <label><sup>*</sup>Product Number</label>
                                            @Html.DropDownListFor(model => model.ProductNumber, (IEnumerable<SelectListItem>)ViewBag.Products, "-- Select Product Number --", new { @class = "select2", @style = "width: 100%;" })
                                            @Html.ValidationMessageFor(model => model.ProductNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <!-- <div class="error_msg">Required</div> -->

                                    </div>

                                    <div class="col-md-3 mb-2">
                                        <div class="form-group">
                                            <label for="inputName">
                                                <sup>*</sup>Quantity
                                            </label>
                                            @*<input type="text" class="form-control">*@
                                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" , min = 1 ,@Value = 1} })
                                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                        </div>
                                        <!-- <div class="error_msg">Required</div> -->
                                    </div>

                                </div>


                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        Enter another Product from Invoice

                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">

                                            <div class="col-md-2 mb-3">
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        @*<input class="form-check-input" type="radio" name="radio1">*@
                                                        @Html.RadioButtonFor(model => model.IsAnotherProduct, "yes", new { htmlAttributes = new { @class = "form-check-input", @type = "radio", @name = "radio1" } })
                                                        <label class="form-check-label">Yes</label>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="col-md-2 mb-3">
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        @*<input class="form-check-input" type="radio" name="radio1">*@
                                                        @Html.RadioButtonFor(model => model.IsAnotherProduct, "no", new { htmlAttributes = new { @class = "form-check-input", @type = "radio", @name = "radio1" } })
                                                        <label class="form-check-label">No</label>
                                                    </div>
                                                    <!-- <div class="error_msg">Required</div> -->

                                                </div>


                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.IsAnotherProduct, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row mt-3" id="fileupload">
                                    <div class="col-md-12">
                                        <div class="col-md-6 mb-3">

                                            <div class="form-group">
                                                <label for="exampleInputFile"><sup>*</sup>Upload Invoice</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        @*<input type="file" class="custom-file-input" id="exampleInputFile">*@
                                                        @Html.TextBoxFor(model => model.InvoiceFile, new { @class = "custom-file-input", @type = "file", @multiple = "multiple", id = "exampleInputFile" })
                                                        <label class="custom-file-label" for="exampleInputFile"></label>
                                                    </div>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.InvoiceFile, "", new { @class = "text-danger" })
                                            </div>



                                                </div>

                                            </div>


                                        </div>

                                 
                                     @if(Model.secondRequest == true)
                                     {
                                         <div hidden>
                                             @Html.CheckBoxFor(model => model.secondRequest,new { htmlAttributes = new { @class = "form-control", } })
                                             @Html.HiddenFor(model => model.secondRequest);
                                         </div>
                                     }
                                 

                                        <div class="row mt-3">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-secondary">Submit</button>
                                            </div>
                                        </div>


                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <p>If a product you sold does not show, please contact your rep or send an email <a href="@Url.Action("SendMailToSupportTeam","Builder")">HERE</a></p>
                                            </div>
                                        </div>


                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            }




                        </div>

                    </div>

                    <!-- /.row -->


                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->



        @*<script src="~/plugins/jquery/jquery.min.js"></script>*@
         
        @*<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@

        @*<script src="~/plugins/select2/js/select2.full.min.js"></script>

        <script src="~/plugins/moment/moment.min.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>*@


        <script>

            $(document).ready(function () {

                $('#reservationdate').datetimepicker({
                    format: 'L',
                    maxDate:'now',
                    endDate:'+0d',
                    ignoreReadonly: true,
                    autoclose: true,                   
                });

                $(".custom-file-input").on("change", function () {
                    var files = $(this)[0].files.length;
                    if (files > 0)
                        $('.custom-file-label').html("" + files + " file(s) selected");
                    else
                        $('.custom-file-label').html("Choose files");
                });
            });



        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#fileupload').hide();
                $('input[name=IsAnotherProduct]').click(function () {
                    if ($('input[name=IsAnotherProduct]:checked').val() == "no") {
                        $('#fileupload').show();
                        var a = '@Model.secondRequest';
                        if (a == "True") {                           
                            $('#ProductNumber').rules("remove", "required");
                        }
                        else {                            
                            $('#ProductNumber').rules("add", "required");
                        }

                    }
                    if ($('input[name=IsAnotherProduct]:checked').val() == "yes") {
                        $('#fileupload').hide();
                    }
                });

              
            })
        </script>
        

        <script>
            $(function () {
                //Initialize Select2 Elements
                $('.select2').select2()
            });
        </script>

