﻿@model LixilRebate.ViewModels.RebateSelectViewModel

@*@{
        ViewBag.Title = "SelectInvoiceInformation";
    }*@

<div class="container-fluid">
    <div class="container">


        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12 ">
                <h3 class="form_headline">Invoice Information</h3>
                <!--card-->
                <div class="card">
                    <form action="/Customers/CustomerRebateStatus" method="post">
                        <!-- /.card-header -->
                        <div class="card-body">
                            @*<div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="form-group">
                                        <input class="form-control" id="RebateNumber" name="RebateNumber" type="text"  />
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info">Search</button>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-12 mb-6">
                                    <table class="table table-striped table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="width: 55%">Order Number :</td>
                                                <td class="text-blue">@Model.OrderNumber</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 55%">Subdivison Name :</td>
                                                <td>@Model.SubDivisionName</td>
                                            </tr>
                                            <tr>
                                                <td>Lot # :</td>
                                                <td>@Model.Lot_</td>
                                            </tr>
                                            <tr>
                                                <td>Per Home Rebate : </td>
                                                <td>@Model.PerHomeRebate</td>
                                            </tr>
                                            <tr>
                                                <td>Closing Statement Date : </td>
                                                <td>@Model.ClosingStatementDate</td>
                                            </tr>
                                            <tr>
                                                <td>Invoices Approved/Denied:</td>
                                                <td>@Model.Status</td>
                                            </tr>
                                            <tr>
                                                <td>Check approved/denied On:</td>
                                                @if (Model.ApprovedorDeniedDate != null)
                                                {
                                                    <td>@Model.ApprovedorDeniedDate.Value.ToString("MM/dd/yyyy")</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }

                                            </tr>
                                            @if (@Model.Status == "Denied")
                                            {
                                                <tr>
                                                    <td>Reason For Denied:</td>
                                                    @if (Model.ReasonIfDenied != null)
                                                    {
                                                        <td>@Model.ReasonIfDenied</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                               
                            </div>
                            <div class="row">
                            </div>
                            @*<div class="row text-blue">
                                **NOTE: Please allow Three Weeks from the Rebate Check Approved Date to receive your rebate. It will be delivered by US Postal Service in a white envelope.
                            </div>*@

                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>



    </div>
</div>
