﻿@model LixilRebate.ViewModels.UserViewModel

@{
//ViewBag.Title = "SendMailToSupportTeam";
}


<!DOCTYPE html>
<html lang="en">


<body class="layout-fixed sidebar-collapse">
    <div class="wrapper ">

     
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container">


                    <div class="row">

                        <div class="col-md-12 ">
                            <h3 class="form_headline mt-2 mb-3">Email Template </h3>


                            <div class="card">

                                <div class="card-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="row">

                                        <div class="col-md-5 mb-2">
                                            <div class="form-group">
                                                <label><sup>*</sup>Builder Name  </label>
                                                @Html.Editor("Builder Name", new { htmlAttributes = new { @class = "form-control", @Value = Model.FirstName + " " + Model.LastName, @disabled = true } })
                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                        </div>


                                        <div class="col-md-5 mb-2">
                                            <div class="form-group">
                                                <label for="inputName">
                                                    <sup>*</sup>Your Email Address
                                                </label>
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                        </div>



                                        <div class="col-md-5 mb-2">
                                            <div class="form-group">
                                                <label for="inputName">
                                                    <sup>*</sup>Phone Number:
                                                </label>
                                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                        </div>

                                        <div class="col-md-5 mb-2">
                                            <div class="form-group">
                                                <label for="inputName">
                                                    <sup>*</sup>How would you like us to contact you:
                                                </label>
                                                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                        </div>

                                        <div class="col-md-10 mb-2">
                                            <div class="form-group">
                                                <label for="inputName">
                                                    <sup>*</sup>Your Message:
                                                </label>

                                                @*<textarea type="text" class="form-control" rows="4"></textarea>
                <span style="font-size: 12px; font-weight:300">Your message:  allow up to 999 characters</span>*@
                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @rows = 15, @maxlength = 999, @id = "description" } })
                                                <span id="charsLeft"></span>
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })


                                            </div>
                                            <!-- <div class="error_msg">Required</div> -->
                                        </div>

                                    </div>






                                        <div class="row mt-3">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-secondary">Submit</button>
                                            </div>
                                        </div>



                                    }

                                </div>
                                <div style="clear: both;"></div>
                            </div>

                        </div>

                    </div>

                    <!-- /.row -->


                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
       

    </div>
    <!-- ./wrapper -->

  

</body>

</html>

<script>
    $(document).ready(function () {
        $('#description').on("input", function () {
            var maxlength = $(this).attr("maxlength");
            var currentLength = $(this).val().length;
            if (currentLength > maxlength) {
            }
            else {
                $('#charsLeft').text($(this).val().length + "/" + maxlength);
            }
        });
    });
</script>


